<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
		{{ form_start(form, {'attr': {'class': 'row', 'action': path('users_adminuser_change_image_slide', {'id': slide.id }) }}) }}
		 <div class="input-field col s12">
			{{ form_widget(form.titre) }}
			{{ form_label(form.titre,'Titre du slide') }}
		  </div>
		  <div class="input-field col s12">
			{{ form_widget(form.description) }}
			{{ form_label(form.description,'Description de l\'image') }}
		  </div>

		  <div class="input-field col s12">
		    {{ form_widget(form.souscategorie, {'attr': {'class': 'browser-default', 'style': 'border: 1px solid #ddd; padding: 7px;'}}) }}
		  </div>
		
		  <div class="input-field col s12">
			{{ form_widget(form.rang) }}
			{{ form_label(form.rang,'Numéro de classement') }}
		  </div>

		  <div class="input-field col s12" style="margin-bottom: 15px;">
		    <div style="margin-top: 10px;">{{ form_widget(form.file) }}</div>
			
		    <div style="margin-top: 10px;">L: 1000px * H: 667px</div>
		  </div>
	  
		  <div class="input-field col s12">
		   {{ form_widget(form.link) }}
		   {{ form_label(form.rang,'Ajouter un lien (facultation)') }}
		  </div>
	  
		  <div class="col s12">
		    {{ form_widget(form.slide) }}
		    {{ form_label(form.slide,'Image d\'accueil') }}
		  </div>
	  
		  <div class="input-field col s12" style="margin-bottom: 15px;">
		    <div style="margin-top: 10px;">{{ form_widget(form.backgroundslide, {'attr': {'class': 'form-control', 'style': 'opacity: 1, color: #333;'}}) }}</div>
			
		    <div style="margin-top: 10px;">Icone de taille, L: ... * H: ...</div>
		  </div>
		  
		  <div class="input-field col s12" style="margin-top: 15px;">
			<button class="btn btn-primary btn-lg">Enregistrez</button>
		  </div>
	 <div class="clearfix"></div>
	 {{ form_end(form) }}

	<div class="clearfix"></div>
</div>
</div>
<script type="text/javascript" src="{{ asset('admintemplate/js/materialize.js') }}"></script>