{% extends "UsersUserBundle::layoutuser.html.twig" %}
{% block meta %}
{{ parent() }}
<meta name="keywords" content="{{ site }}, E-learning, cours en ligne, Connexion,{{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }},{{ produit.titre }}."/>
<meta name="author" content="Noel Kenfack"/>
<meta name="description" content="{{ site }} {{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }},{{ produit.titre }} - Annonce Cameroun, Annonce gratuite."/>
{% endblock %}

{% block title %}
{{ parent() }} - {{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }},{{ produit.titre }}
{% endblock %}

{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('template/player/themes/maccaco/projekktor.style.css') }}" type="text/css" media="screen"/>

<script type="text/javascript" src="{{ asset('template/player/projekktor-1.3.09.min.js') }}"></script>
{% endblock %}

{% block userblog_body %}
<hr style="margin-top: 45px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="container" style="color: #fff;">
	Accueil <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> Cours <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> {{ produit.titre[:50] }} <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> {{ partie.name(30) }}
	</div>	
</div>	
<hr style="margin-bottom: 0px;"/>
<h1 style="background: #ECF0F1; display: block; text-align: left; padding: 15px; margin-top: 0px;">
<div class="animecourant-panel">
</div>
</h1>


<div class="container">
	<div class="row mt centered">
	{% for infos in app.session.flashbag.get('information') %}
	{% if loop.first %}
		<div class="col-lg-12 alert alert-warning text-left alert-dismissable" style="margin-bottom: 15px; border-radius: 0px;">{{ infos|raw }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	{% endif %}
	{% else %}
	<div class="col-lg-12  alert-warning text-left" style="padding: 15px;  margin-bottom: 20px; border: 1px solid transparent; border-radius: 0px;"><span class="fa fa-info-circle"></span> Accédez à toutes les ressources de ce cours et obtenez un certificat reconnu. <a href="#!" class="souscription-cours-online" value="1"> Inscrivez-vous maintenant <span class="fa fa-angle-double-right"></span> </a> <span class="fa fa-check pull-right"></span></div>
	{% endfor %}
	<div class="col-lg-12" style="padding: 3px 7px;">
			<h1 style="background: #ECF0F1; display: block; text-align: left;"><span class="mdi-action-subject"></span> {{ chapitre.titre }}
			<div class="btn-group pull-right" style="margin-top: -10px; padding: 0px;">
			<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; padding: 0px; margin: 0px;"><i class="mdi-hardware-keyboard-arrow-down" style="padding: 0px; margin: 0px;"></i></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					{% if app.user == chapitre.partiecours.produit.user or is_granted('ROLE_GESTION') %}
					<li><a href="{{ path('produit_produit_user_modif_chapter', {'id': chapitre.id }) }}"><span class=" fa fa-pencil"></span> Modifier ce chapitre</a></li>
					<li><a href="{{ path('produit_produit_user_supprimer_chapter', {'id': chapitre.id }) }}"><span class=" fa fa-times"></span> Supprimer ce chapitre</a></li>
					<li class="divider"></li>
					{% endif %}
					<li><a href="#"><span class="fa fa-th"></span> Certificats délivrés 120</a></li>
				</ul>
			</div>
			</h1>
		</div>
		<div class="col-lg-12" style="padding:0px 7px;">
		<div class="divider" style="margin-top: -12px;"></div>
		</div>
		<div class="col-lg-12" style="padding: 0px 7px;">
		<h1 style="background: #BDC3C7; display: block; text-align: left; margin-top: -12px;">
		<a href="#!" class="formats-cours" title="Format Description: accès libre et gratuit en ligne"><span class="mdi-av-my-library-books" style="margin: 3px;" title="Format autorisé"></span></a> 
		<a href="#!" class="formats-cours" title="Format Vidéos: accès gratuit ou payant en ligne"><span class="mdi-notification-voice-chat" title="Format autorisé" style="margin: 3px;"></span></a> 
		<a href="#!" class="formats-cours" title="Format E-book: accès gratuit ou payant en ligne"><span class="mdi-hardware-phone-android" title="Format autorisé" style="margin: 3px;"></span></a> 
		<a href="#!" class="formats-cours-ban"><span class="mdi-maps-local-library" title="Format Livre papier: non gérer." style="margin: 3px;"></span> </a>
		<a href="#!" class="formats-cours" title="Exercices et TP: accès gratuit ou payant en ligne"><span class="mdi-action-assignment-turned-in" title="Validation de la formation" style="margin: 3px;"></span></a>
		<a href="#!" class="formats-cours" title="Certificat: pris en charge pour ce cours"><span class="mdi-action-wallet-membership" title="Certificat" style="margin: 3px;"></span></a>

		<span class="pull-right" style="font-size: 15px; background: #f0ad4e; margin: 7px; color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); padding: 5px; border-radius: 5px;"><span class="mdi-image-iso" style="font-size: 14px;"></span> Note: {% if prodpan != null %}{{ chapitre.getNoteQuestionnaire(prodpan) }}/{{ bareme }}{% else %}0/{{ bareme }}{% endif %}</span>
		
		</h1>
		</div>
		<div class="col-lg-12" style="padding:0px 7px;">
		<div class="divider" style="margin-top: -7px;"></div>
		</div>
	</div><!-- /row -->
	
	<div class="row mt centered">
		<div id="monaccordeon" class="panel-group col-lg-4" style="padding: 0px 7px;">
		<div class="toutleblock">
		<div class="panel panel-default text-left" style="border-radius: 0px;">
		<div class="panel-heading">
		<h3 class="panel-title">
		<a class="accordion-toggle" href="#item0" data-parent="#monaccordeon" data-toggle="collapse" style="display: block;"><span class="mdi-content-report" style="font-size: 15px;"></span> À propos de ce cours <span class="mdi-hardware-keyboard-arrow-down pull-right"></span></a>
		</h3>
		</div>
		<div id="item0" class="panel-collapse collapse in">
		<div class="panel-body"> 
		<div>
		<ul style="padding: 0px;">
			<li><a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}" style="display: block;"><span class="fa fa-home"></span> Présentation générale</a></li>
		</ul>
		</div>
		</div>
		</div>
		</div>
		
		{% for partie in liste_part %}
		{{ render(controller("ProduitProduitBundle:Partiecours:detailpartie", {'partie': partie.id, 'number': loop.index, 'addform': 0, 'codeadmin': codeadmin })) }}
		{% endfor %}

		{% if app.user == produit.user %}
		<a href="#!" class="btn btn-primary btn-lg btn-block add-new-part" style="margin-top: 15px; border-radius: 0px;"><em class="fa fa-plus" style="font-size: 20px;"></em> Ajoutez une nouvelle partie</a>
		{% endif %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stop-courant-panel">
				
		</div>
		</div>
		
		{% for partie in liste_part %}
		{{ render(controller("ProduitProduitBundle:Partiecours:detailpartie", {'partie': partie.id, 'number': loop.index, 'addform': 1, 'codeadmin': codeadmin })) }}
		{% endfor %}
		
		</div>
		<div class="col-lg-8" style="padding: 0px 7px;">
		
		<div class="projekktor"  id="player_block_1" style="width: 100%; text-align: center;">
		{% if prodpan == null %}
		<div class="souscription-cours-online" value="0" style="position: absolute; z-index: 3; cursor: pointer; background: rgba(255,255,255,0.7); height: 385px; width: 100%; top: 0px;"><img src="{{ asset('template/images/lockb.png') }}" title="Accès non autorisé" class="pull-left" style="margin-top: 20px; width: 100px; height: 100px;"/></div>
		{% endif %}
		</div>
		
		<div class="panel panel-default" style="margin-top: 15px; text-align: justify; padding: 7px; border-radius: 0px;">
		<div style="text-align: right; border-bottom: 2px solid #f0ad4e; margin-top: -30px; position: absolute; z-index: 5; top: 5px; right: -10px; width: 97%; margin-right: 20px;">
		{% if prodpan != null %}
			<a href="{{ path('produit_produit_download_video_chapter', {'id': chapitre.id }) }}" target="_blank" class="btn btn-warning" value="0" style="background: #f0ad4e; margin-bottom: 2px;"><span class="fa fa-download"></span> Téléchargez cette vidéo ({{ chapitre.videochapitre.nbtele }})</a>
		{% else %}
			<a href="#!" class="btn btn-warning souscription-cours-online" value="0" style="background: #f0ad4e; margin-bottom: 2px;"><span class="fa fa-download"></span> Téléchargez cette vidéo ({{ chapitre.videochapitre.nbtele }})</a>
		{% endif %}
		</div>
		
		<div style="border-bottom: 1px solid #ddd;" class="text-primary"><strong><span class="mdi-communication-textsms"></span> {{ chapitre.titre }} <a href="#!" class="open-content pull-right" value="down" name="1"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
			<div class="content-panel-1">{{ chapitre.contenu|raw }}</div>
		</div>
		
		<div class="panel panel-default" style="margin-top: 15px; text-align: justify; padding: 7px; border-radius: 0px;" >
		<div style="border-bottom: 1px solid #ddd; margin-bottom: 15px;" class="text-primary text-left"><strong><span class="mdi-action-extension"></span> Ressources liées à cette partie <a href="#!" class="open-content pull-right" value="down" name="2"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
			<div class="content-panel-2">
			<div class="col-md-3">
			  <div class="demo-download">
				<img src="{{ asset('template/images/video-image2.png') }}" src="Free PSD" />
			  </div>

			  <div class="btn-group" style="padding: 0px; display: block">
			  <a class="dropdown-toggle btn btn-primary btn-lg btn-block text-center" data-toggle="dropdown" style="cursor: pointer; padding-left: 5px; padding-right: 5px; border-radius: 0px; width: 100%;"><span class="fa fa-video-camera"></span> Vidéo partie <span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					<li class="divider"></li>
					{% if prodpan != null %}
						<li><a href="{{ path('produit_produit_download_video_chapter', {'id': chapitre.id }) }}" target="_blank"><span class="fa fa-download"></span> Télcharger la vidéo</a></li>
					{% else %}
						<li><a href="#!" class="souscription-cours-online"><span class="fa fa-download"></span> Télcharger la vidéo</a></li>
					{% endif %}
				</ul>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="demo-download">
				<img src="{{ asset('template/images/support1.png') }}" src="Free PSD" />
			  </div>

			  <div class="btn-group" style="padding: 0px; display: block">
			  <a class="dropdown-toggle btn btn-primary btn-lg btn-block text-center" data-toggle="dropdown" style="cursor: pointer; padding-left: 5px; padding-right: 5px; border-radius: 0px; width: 100%;"><span class=" fa fa-file-text-o"></span> Supports <span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					{% for support in chapitre.supportchapitres %}
					<li class="dropdown-submenu"><a tabindex="-1" href="#!"><span class="fa fa-file-text-o"></span> Support numéro {{ support.num }}</a>
					<ul class="dropdown-menu" style="border-radius: 0px;">
						<li class="divider"></li>
						{% if prodpan != null %}
							<li><a href="{{ path('produit_produit_telecharger_support_chapter', {'id': support.id}) }}" target="_blank"><span class="fa fa-download"></span> Télchargez le support</a></li>
						{% else %}
							<li><a href="#!" class="souscription-cours-online"><span class="fa fa-download"></span> Télchargez le support</a></li>
						{% endif %}
					</ul>
					</li>
					<li class="divider"></li>
					{% endfor %}	
				</ul>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="demo-download">
				<img src="{{ asset('template/images/tpratique3.png') }}" src="Free PSD" />
			  </div>

			  <div class="btn-group" style="padding: 0px; display: block">
			  <a class="dropdown-toggle btn btn-primary btn-lg btn-block text-center" data-toggle="dropdown" style="cursor: pointer; padding-left: 5px; padding-right: 5px; border-radius: 0px; width: 100%;"><span class="fa fa-wrench"></span> T. pratiques <span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					{% for pratique in chapitre.pratiquechapitres %}
					<li class="dropdown-submenu"><a tabindex="-1" href="#!"><span class="fa fa-file-text-o"></span> TP numéro {{ pratique.num }}</a>
					<ul class="dropdown-menu" style="border-radius: 0px;">
						<li class="divider"></li>
						{% if prodpan != null %}
							<li><a href="{{ path('produit_produit_download_travaux_pratique', {'id': pratique.id }) }}" target="_blank"><span class="fa fa-download"></span> Télchargez le Tp</a></li>
						{% else %}
							<li><a href="#!" class="souscription-cours-online"><span class="fa fa-download"></span> Télchargez le Tp</a></li>
					    {% endif %}
					</ul>
					</li>
					<li class="divider"></li>
					{% endfor %}	
				</ul>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="demo-download">
				<img src="{{ asset('template/images/exercice2.png') }}" src="Free PSD" />
			  </div>

			  <div class="btn-group" style="padding: 0px; display: block">
			  <a class="dropdown-toggle btn btn-primary btn-lg btn-block text-center" data-toggle="dropdown" style="cursor: pointer; padding-left: 5px; padding-right: 5px; border-radius: 0px; width: 100%;"><span class="fa fa-check-square-o"></span> Exercices <span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					{% for exercice in chapitre.exerciceparties %}
					<li class="dropdown-submenu"><a tabindex="-1" href="#!"><span class="fa fa-file-text-o"></span> Exercice numéro {{ exercice.num }}</a>
					<ul class="dropdown-menu" style="border-radius: 0px;">
						<li class="divider"></li>
						{% if prodpan != null %}
							<li><a href="{{ path('produit_produit_telecharge_exercice', {'id': exercice.id }) }}" target="_blank"><span class="fa fa-download"></span> Télchargez l'éxercice</a></li>
						{% else %}
							<li><a href="#!" class="souscription-cours-online"><span class="fa fa-download"></span> Télchargez l'éxercice</a></li>
					    {% endif %}
					</ul>
					</li>
					<li class="divider"></li>
					{% endfor %}
				</ul>
			  </div>
			</div>
			</div>
			<div class="clearfix"></div>
		</div>
		{% if prodpan != null %}
			{% set idpropan = prodpan.id %}
		{% else %}
			{% set idpropan = 0 %}
		{% endif %}
		<div class="variation-sub-contenu" value="0">
		{{ render(controller("ProduitProduitBundle:Questionnaire:composquestionnaire", {'id': chapitre.id,'idpropan': idpropan, 'src': 0})) }}
		</div>
		
		</div>
		
	<script type="text/javascript">
	$(document).ready(function(){
        projekktor('#player_block_1', {
        poster: '{% if chapitre.imgchapitre != null %} {{ asset(chapitre.imgchapitre.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}',
        title: 'this is projekktor',
        playerFlashMP4: '{{ asset('template/player/swf/StrobeMediaPlayback/StrobeMediaPlayback.swf') }}',
        playerFlashMP3: '{{ asset('template/player/swf/StrobeMediaPlayback/StrobeMediaPlayback.swf') }}',
        width: '100%',
        height: 385,
        playlist: [
            {
            0: {src: "{% if chapitre.videochapitre != null %}{{ asset(chapitre.videochapitre.getwebpath) }} {% else %}{{ asset('template/player/media/intro.mp4') }}{% endif %}", type: "video/mp4"},
            }
        ]    
        }, function(player) {} // on ready 
        );
		
		$('.open-content').click(function(){
			$('.content-panel-'+$(this).attr('name')).toggle('slow');
			if($(this).attr('value') == 'down')
			{
				$(this).attr('value','up');
				$('.open-content[name='+$(this).attr('name')+']').html('<span class="mdi-hardware-keyboard-arrow-right"></span>');
			}else{
				$(this).attr('value','down');
				$('.open-content[name='+$(this).attr('name')+']').html('<span class="mdi-hardware-keyboard-arrow-down"></span>');
			}
		});
		
		$('.item-chapter-cour-{{ chapitre.id }}').removeClass('item-chapter-cours');
		$('.item-chapter-cour-{{ chapitre.id }}').removeClass('item-ressource-cours');
		$('.item-chapter-cour-{{ chapitre.id }}').addClass('item-selected');
	});
	</script>
	</div><!-- /row -->
</div><!-- /container -->

<hr/>

<div class="modal fade" id="infos-action-new-part" style="margin-top: 100px; z-index: 9999;">
<div class="modal-dialog modal-md">
<div class="modal-content" style="border-radius: 0px;">
<div class="modal-header" style="position: absolute; z-index: 3; width: 100%; padding: 2px 0px; box-shadow: 0 15px 15px -1px #f2f2f2 inset;background: #fff;">
<div style="box-shadow: 0px 6px 6px #CCC; margin: 0px;">
<button type="button" class="close" data-dismiss="modal" style="padding: 7px;">&times;</button>
<h4 class="modal-title" style="padding: 7px;"><span class="fa fa-file-text-o"></span> Nouvelle partie</h4>
</div>
</div>
<hr style="margin-top: 38px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="text-left" style="color: #fff; padding-left: 15px;">
	Cours <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> {{ produit.name(50) }}
	</div>	
</div>	
<hr style="margin-bottom: 0px;"/>

<div class="modal-body" style="background: #fff; color: #333;">
<div style="background: #ECF0F1; padding: 15px;">
<form action="{{ path('produit_produit_add_new_partie_cours', {'id': produit.id}) }}" method="post" {{ form_enctype(form) }}>
<div class="form-group">
{{ form_widget(form.titre) }}
</div>
<div class="form-group">
{{ form_widget(form.rang) }}
</div>
<button class="btn btn-primary btn-block btn-lg" style="margin-top: 15px;">Enregistrez <span class="glyphicon glyphicon-send"></span></button>

{{ form_rest(form) }}
</form>
</div>
</div>

<hr style="margin-bottom: 15px;"/>
<div class="modal-footer" style="text-align: right; padding: 7px; background: #222222; color: #fff;">
<span class="pull-left">&copy; {{ site }}</span>
{% include 'GeneralTemplateBundle:Menu:social.html.twig' %}
</div>

</div>
</div>
</div>


<div class="modal fade modal-alter" id="modal-inscription-cours" style="margin-top: 100px;">
<div class="modal-dialog modal-md">
<div class="modal-content" style="border-radius: 0px;">
<div class="modal-header" style="position: absolute; z-index: 3; width: 100%; padding: 2px 0px; box-shadow: 0 15px 15px -1px #f2f2f2 inset;background: #fff;">
<div style="box-shadow: 0px 6px 6px #CCC; margin: 0px;">
<button type="button" class="close" data-dismiss="modal" style="padding: 7px;">&times;</button>
<h4 class="modal-title text-left" style="padding: 7px;"><span class="fa fa-plus-square"></span> Inscrivez-vous pour suivre ce cours</h4>
</div>
</div>
<hr style="margin-top: 38px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="text-left" style="color: #fff; padding-left: 15px;">
	   <span class="fa fa-angle-double-right"></span> {{ produit.name(50) }}</a>
	</div>	
</div>	
<hr style="margin-bottom: 0px;"/>

<div class="modal-body" style="background: #fff; color: #333;">
<div style="background: #ECF0F1; padding: 15px;">
<div class="col-sm-12" style="padding: 0px;">
<div class="compose-left text-left" style="margin-bottom: 7px; margin-left: -30px; margin-right: 10px;">
<div class="chat-grid widget-shadow">
	<ul>
		<li class="item-menu-right open-element" style="display: block; width: 100%; margin-top: 15px; border-bottom: 1Px solid #ddd; border-top: 1Px solid #ddd;">
			<div class="chat-left pull-left" style="width: 80px; padding-right: 10px;">
				<img src="{% if produit.imgproduit != null %} {{ asset(produit.imgproduit.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}" alt="article aimé" style="width: 70px; height:70px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px;"/>
			</div>
			<div class="chat-right">
				<p style="margin: 0px;"><strong><span class="fa fa-chevron-right"></span> {{ produit.name(60) }}</strong></p>
				<p style="margin: 0px;" class="type-de-formation"><span class="fa fa-chevron-right"></span> Prix officiel pour accéder à toutes les ressources du cours</p>
				<p style="margin: 0px; text-align: right;">Montant :: <i class="badge montant-formation">{{ produit.newprise }} {{ devise }}</i> ::</p>
			</div>
		<div class="clearfix"> </div>
		</li>
	</ul>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="col-sm-12" style="padding: 8px;">
<form action="{{ path('produit_produit_ajouter_product_panier', {'id': produit.id }) }}" method="post" style="margin-top: 15px;">
<div class="form-group">
	<input type="password" placeholder="Rentrez votre mot de passe" id="password" name="_password" required class="form-control" style="margin-top: 15px; width: 100%; border-radius: 0px;">
	<input type="hidden" placeholder="Rentrez votre mot de passe" id="typedeformation" name="_typedeformation" required class="input-type-deformation" style="margin-top: 15px; width: 100%; border-radius: 0px;">
</div>
<div style="margin-top: 15px;">
	<button type="submit" class="btn btn-warning btn-lg btn-block" style="border-radius: 0px;">Confirmez le payement avec votre compte {{ site }} </button>
</div>
</form>
</div>

<div class="clearfix"></div>
</div>
</div>

<hr style="margin-bottom: 15px;"/>
<div class="modal-footer" style="text-align: right; padding: 7px; background: #222222; color: #fff;">
<span class="pull-left">&copy; {{ site }}</span>
{% include 'GeneralTemplateBundle:Menu:social.html.twig' %}
</div>

</div>
</div>
</div>

<div class="modal fade modal-alter" id="modal-inscription-chapter" style="margin-top: 100px;">
<div class="modal-dialog modal-md">
<div class="modal-content" style="border-radius: 0px;">
<div class="modal-header" style="position: absolute; z-index: 3; width: 100%; padding: 2px 0px; box-shadow: 0 15px 15px -1px #f2f2f2 inset;background: #fff;">
<div style="box-shadow: 0px 6px 6px #CCC; margin: 0px;">
<button type="button" class="close" data-dismiss="modal" style="padding: 7px;">&times;</button>
<h4 class="modal-title text-left" style="padding: 7px;"><span class="fa fa-video-camera"></span> Inscrivez-vous pour suivre uniquement cette leçon</h4>
</div>
</div>
<hr style="margin-top: 38px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="text-left" style="color: #fff; padding-left: 15px;">
	   <span class="fa fa-angle-double-right"></span> {{ chapitre.name(50) }}</a>
	</div>	
</div>	
<hr style="margin-bottom: 0px;"/>

<div class="modal-body" style="background: #fff; color: #333;">
<div style="background: #ECF0F1; padding: 15px;">
<div class="col-sm-12" style="padding: 0px;">
<div class="compose-left text-left" style="margin-bottom: 7px; margin-left: -30px; margin-right: 10px;">
<div class="chat-grid widget-shadow">
	<ul>
		<li class="item-menu-right open-element" style="display: block; width: 100%; margin-top: 15px; border-bottom: 1Px solid #ddd; border-top: 1Px solid #ddd;">
			<div class="chat-left pull-left" style="width: 80px; padding-right: 10px;">
				<img src="{% if chapitre.imgchapitre != null %} {{ asset(chapitre.imgchapitre.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}" alt="article aimé" style="width: 70px; height:70px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px;"/>
			</div>
			<div class="chat-right">
				<p style="margin: 0px;"><strong><span class="fa fa-chevron-right"></span> {{ chapitre.name(60) }}</strong></p>
				<p style="margin: 0px;" class="type-de-formation"><span class="fa fa-chevron-right"></span> Prix officiel d'accès à toutes les ressources de cette leçon</p>
				<p style="margin: 0px; text-align: right;">Montant :: <i class="badge montant-formation">{% set prise = (produit.newprise/liste_chapter|length)|round(0,'ceil') %}{{ prise }} {{ devise }}</i> ::</p>
			</div>
		<div class="clearfix"> </div>
		</li>
	</ul>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="col-sm-12" style="padding: 8px;">
<form action="{{ path('produit_produit_add_chapitre_panier_user', {'id': chapitre.id }) }}" method="post" style="margin-top: 15px;">
<div class="form-group">
	<input type="password" placeholder="Rentrez votre mot de passe" id="password" name="_password" required class="form-control" style="margin-top: 15px; width: 100%; border-radius: 0px;">
	<input type="hidden" placeholder="Rentrez votre mot de passe" id="typedeformation" name="_typedeformation" required class="input-type-deformation" style="margin-top: 15px; width: 100%; border-radius: 0px;">
</div>
<div style="margin-top: 15px;">
	<button type="submit" class="btn btn-warning btn-lg btn-block" style="border-radius: 0px;">Confirmez le payement avec votre compte {{ site }} </button>
</div>
</form>
</div>

<div class="clearfix"></div>
</div>
</div>

<hr style="margin-bottom: 15px;"/>
<div class="modal-footer" style="text-align: right; padding: 7px; background: #222222; color: #fff;">
<span class="pull-left">&copy; {{ site }}</span>
{% include 'GeneralTemplateBundle:Menu:social.html.twig' %}
</div>

</div>
</div>
</div>
	
<script src="{{ asset('template/assets/js/onvisible.js') }}" type="text/javascript"></script>
<!-- /pricing section -->

{% endblock %}

{% block javascripttemplate %}

$('.add-new-part').click(function(){
	$('#infos-action-new-part').modal('show');
});
				
var bouge = 1;
var dimension = 200;
function activateelement()
{
var visibility = visibleElement('.animecourant-panel');

if(visibility && bouge == 0){
	bouge = 1;
	$('.toutleblock').css('position','relative');
	$('.toutleblock').css('bottom','0px');
	$('.toutleblock').css('margin-bottom','0px');
}
}

function stopelement()
{
var visibility = visibleElement('.stop-courant-panel');
if(visibility && bouge == 1){
	if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
	{
	
	}else{
	bouge = 0;
	$('.toutleblock').css('position','fixed');
	$('.toutleblock').css('width',dimension+'px');
	
	$('.toutleblock').css('bottom','7px');
	$('.toutleblock').css('margin-bottom','50px');
	}
}
}

var idStopelement = 0;
var idActivateelement = 0;
function controlScroll()
{
	var largeur = ($(window).width());
	dimension = $('.toutleblock').width();
	if (largeur >= 768)
	{
	   /*
		if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
		{
			$('.toutleblock').css('position','fixed');
			$('.toutleblock').css('width',dimension+'px'); 
		}else{ 
			idStopelement = window.setInterval(function() { stopelement(); }, 100);
			idActivateelement = window.setInterval(function() { activateelement(); }, 100);
		}*/
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
	}
}
controlScroll();

$('.souscription-cours-online').click(function(){
var id = $(this).attr('value');
	{% if app.user == null %}
		$('#modal-infos-action-connexion').modal('show');
	{% else %}
	if(id == 1)
	{
		$('#modal-inscription-cours').modal('show');
	}else{
		$('#modal-inscription-chapter').modal('show');
	}
	{% endif %}
});

{% endblock %}