{% extends "UsersUserBundle::layouthome.html.twig" %}

{% block meta %}
{{ parent() }}
<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
<meta name="author" content="Noel Kenfack"/>
<meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}" />
{% endblock %}

{% block title %}
	{{ parent() }} | Actualité et offres spéciales
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
.responsive-tab {
	margin-top: 15px;
	background: #3565ae;
}
.responsive-tab ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.responsive-tab li {
	display: inline-block;
	padding: 0;
	vertical-align: bottom;
	margin-right: 15px;
}
.responsive-tab li .active {
	color: #c6a0d5;
	border-bottom-color: #9b59b6;
}

.responsive-tab a {
	display: inline-block;
	color: #9c9c9c;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
}
.responsive-tab a.active {
	border-bottom: 3px solid #fe8026;
	position: relative;
	bottom: -3px;
	color: #fe8026;
	outline: none;

}
.responsive-tab a.active:after {
	content: "\f0d7";
	font-family: "FontAwesome"; 
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	display: inline-block;                
	width: 10px;
	height: 10px;
	margin: 0 auto;
}

.mytabs > div {
	display: none;
	padding: 1rem;
}

.mytabs > .active {
	display: block;
}

@media (max-width: 767px) {
	.responsive-tab ul {                    
		position: relative;
		background: #fff;
		border: none;

	}
	.responsive-tab ul::after {
		content: "\f0c9";
		position: absolute;
		top: 12px;
		right: 15px;
		z-index: 2;
		pointer-events: none;
		font-size: 17px;
		font-family: "FontAwesome"; 
	}

	.responsive-tab li {
		display: block;
	}
	.responsive-tab a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-color: transparent;
	}
	.responsive-tab ul.open a {
		position: relative;
		display: block;
		border-color: #fe8026;
	}
	.responsive-tab a.active {                   
		z-index: 1;
		background: #fff;

	}
}

.functionalities{
	clear: both;
	position: relative;
}
.functionalities li{
	list-style: none;
	float: left;
	padding-right: 10px;
}
.funcionalidades.container {
	width: 100%;
	margin: auto;
}
.functionalities ul.breadcrumb{
	background-color: #ee6e73;
	  padding: 0 1.5em;
	clear: both;
	height: 40px;
}
.functionalities ul.breadcrumb li{  
	background-color: #ee6e73; 
	border-right: 3px solid #fff;
	transform: skewX(-25deg);
	height: 40px;
	padding: 0 20px;
	position: relative;
	top: 0; 
	line-height: 40px;
}
.functionalities ul.breadcrumb li:first-child {
	display: none;
}
.functionalities ul.breadcrumb li:nth-child(2) {
	border-left: 3px solid #fff;
}
.functionalities ul.breadcrumb li:last-child {
	border-right: none;
}
.functionalities ul.breadcrumb li a{	
	  color: #fff;
	transform: skewX(25deg);
	display: inline-block;
}
.functionalities ul.breadcrumb li a:hover, .functionalities ul.breadcrumb li a:focus{
	text-decoration: none;
	color: #7b4446;
}
.functionalities ul.breadcrumb li strong {
	color: #fff;
	text-decoration: none;
	transform: skewX(25deg);
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.functionalities ul.breadcrumb i{
	position: relative;
	float: none;
}




#accordion .card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #d1d3d4;
}
#accordion .card .card-header {
  background: none;
  border: none;
  padding: 25px 0;
}
#accordion .card .card-header.top-headline {
  padding: 0 0 25px;
}
#accordion .card .card-body {
  padding: 0 0 25px;
}

.vertical-tabs .nav-link {
  text-transform: uppercase;
  color: #939598;
  font-family: "azo-sans-web", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0;
  padding: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .nav-link {
    border-bottom: 1px solid #d1d3d4;
  }
}
.vertical-tabs .nav-link.active {
  background: #fca500;
  color: #fff;
  border-bottom: none;
}
.vertical-tabs .tab-content {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .tab-content {
    margin-top: 22px;
  }
}
</style>
{% endblock %}

{% block userblog_body %}
<div style="background: #fff; padding-bottom: 30px;">
<div class="container" style="overflow: hidden;">
  <div class="row" style="margin-top: 25px;">
	<div class="col-md-12">
		<div class="functionalities">
		  <ul id="breadcrumb" class="breadcrumb" style="white-space: nowrap;">
			<li></li>
			<li>
			  <a title="home"><i class=""><i class="fa fa-home"></i> Accueil</i></a>
			</li>
			<li><a title="blog">L'entreprise</i></a></li>
			<li class="active" ><strong style="text-transform: capitalize!important;"> En savoir plus sur AZ Corporation </strong></li>
		  </ul>				
		</div>
		
		<div class="mytabs">
            <nav role='navigation' class="responsive-tab">
                <ul>
                    <li><a href="#fruits-tab" class="active">Offres de stage</a></li>
                    <li><a href="#vegetables-tab">Offres d'emplois</a></li>
                    <li><a href="#dried-items-tab">Commerciaux Freelance</a></li>
                </ul>
            </nav>

            <div id="fruits-tab" class="active" style="border: 1px solid #ddd; padding: 0px;">
                <main style="background: #fff; padding: 0px; box-shadow:0px 0px 2px rgba(0,0,0,0.0005); margin: 15px 0px; min-width: 100%;">
					<section>
					  <div class="container vertical-tabs">
						<div class="row">
						  <div class="col-md-3">
							<div class="nav flex-column nav-pills" id="" role="tablist" aria-orientation="vertical">
							  <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">Envoi de dosssiers</a>
							  <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="false">Dernières offres</a>
							  <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="false">Conditions de dépot</a>
							</div>
						</div>
						  <div class="col-md-8 offset-md-1">
							<div class="tab-content" id="">
							  <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
								<div id="accordion" role="tablist">
								  <div class="card">
									<div class="card-header top-headline" role="tab" id="headingOne">
									  <h5>
										<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										  Who is Just Energy?
										</a>
									  </h5>
									</div>
									<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
									  <div class="card-body">
										<p>Just Energy is a leading energy retailer in North America and one of the largest energy providers bringing energy solutions, natural gas and electricity to approximately 2 million customers. Our natural gas and electricity supply plans provide innovative solutions that allow our customers to choose from an array of plans to suit their lifestyle and comfort levels with market knowledge that includes secured rates, variable rates and index commodity supply programs. Just Energy also provides green energy products that provide a real and convenient solution for consumers to offset the environmental impact associated with their everyday energy use.</p>
									  </div>
									</div>
								  </div>
								  <div class="card">
									<div class="card-header" role="tab" id="headingTwo">
									  <h5>
										<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										  What markets does Just Energy service?
										</a>
									  </h5>
									</div>
									<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
									  <div class="card-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
									  </div>
									</div>
								  </div>
								  <div class="card" style="border-bottom: none;">
									<div class="card-header" role="tab" id="headingThree">
									  <h5>
										<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										  Is Just Energy licensed?
										</a>
									  </h5>
									</div>
									<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
									  <div class="card-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
								<p>Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.
								</p>
							  </div>
							  <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
								<p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.
								</p>
							  </div>
							</div> 
						  </div>
						</div>
					  </div>
					</section>
				</main>
            </div>

            <div id="vegetables-tab">
                <h2>Tab 2</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est natus esse minima nihil quidem tenetur alias pariatur. Obcaecati repudiandae temporibus provident sapiente iure doloribus praesentium voluptates dolores quia eos velit fugit cum ipsam. Deleniti fugiat maxime vel tempore illum esse illo fugit quam recusandae aut aperiam omnis at quaerat!
            </div>
			<div id="dried-items-tab">
                <h2>Tab 3</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est natus esse minima nihil quidem tenetur alias pariatur. Obcaecati repudiandae temporibus provident sapiente iure doloribus praesentium voluptates dolores quia eos velit fugit cum ipsam. Deleniti fugiat maxime vel tempore illum esse illo fugit quam recusandae aut aperiam omnis at quaerat!
            </div>
   
        </div>
		
	</div>
  </div>
</div>
</div>


<style>
/* CLEARFIX */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* GENERAL STYLES FOR BOX AND OVERLAY */

.box {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #bbb;
  text-align: center;
  position: relative;
}

.overlay{
  width: 100%;
  height:40%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* SLIDE IN */

.slide-in .overlay{
  background-color: #6addaa;
  line-height: 10px;
  color: #fff;
  transform: translateX(-100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.slide-in .box:hover .overlay{
  transform: translateX(0);
}

/* SLIDE UP */

.slide-up .overlay{
  background-color: #3dcbe8;
  line-height: 10px;
  color: #fff;
  transform: translateY(100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.slide-up .box:hover .overlay{
  transform: translateY(0);
}

/* SLIDE DOWN DELAY */

.slide-down-delay .overlay{
  background-color: #ee6f8c;
  line-height: 10px;
  color: #fff;
  transform: translateY(-100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.slide-down-delay .box:hover .overlay{
  transform: translateY(0);
}

.slide-down-delay .overlay i{
  transform: translateY(-80%);
  opacity: 0;
  -webkit-transition: transform 0.5s linear, opacity 0.5s linear 0.5s;
  -o-transition: transform 0.5s linear, opacity 0.5s linear 0.5s;
  transition: transform 0.5s linear, opacity 0.5s linear 0.5s;
}

.slide-down-delay .box:hover .overlay i{
  transform: translateY(0);
  opacity: 1;
}
.box {
  display: block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #bbb;
  text-align: center;
  position: relative;
}
</style>

<div style="background: #3565ae; padding: 0px 0px 20px 0px;">
<div class="container" style="overflow: hidden;">
<div class="row" style="overflow: hidden;">
	<div class="col-md-5">
		<h3 style="color: #fff; font-size: 30px;">Carte de voeux AZ corporation</h3>

		<div style="margin-top: 50px;">
			<a href="" class="my-button " style=" font-size: 30px; margin-top: 15px;"><span class="fa fa-users"></span> Toutes les cartes </a>
			<a href="" class="my-button" style="font-size: 30px; margin-top: 15px;"><span class="fa fa-users"></span> Commandez une carte</a>
		</div>
	</div>
	
	<div class="col-md-7" style="padding: 0px;">
	<div class="row" style="margin: 0px;">
		<div class="col-md-12">
		<h3 style="color: #fff; font-size: 30px;">Pourquoi nous choisir ?</h3>
		</div>
		{% for i in range(1,6) %}
		<div class="col-md-4" style="margin-top: 15px;">
			<div class="cf">
			<div class="slide-up four">
				<a href="">
				<div class="box" style="cursor: pointer; background: url({{ asset('template/images/present.png') }}) no-repeat center;
				   -webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					position:relative;">
					<span class="original">
						<h1 style="margin-top: 80px; font-size: 20px; text-shadow: 2px 2px #333;">Ville</h1>
					</span>
					<div class="overlay" style="background: rgba(0,0,0,0.4); color: #fff; padding-top: 5px;">
						<i class="fa fa-3x" aria-hidden="true" style="font-size: 18px; color: #fff;">12 jobbers</i></br>
						<a href="" class="btn btn-primary" style="font-size: 11px; padding: 5px; margin-top: 15px;">Trouvez un jobber à Douala</a>
					</div>
				</div>
				</a>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
	</div>
</div>
</div>

{% endblock %}

{% block javascripttemplate %}
	$('.menu-item-148').addClass('current-active');
	
	var Tabs = {
		init: function() {
			this.bindUIfunctions();
			this.pageLoadCorrectTab();
		},
		bindUIfunctions: function() {

			// Delegation
			$(document)
					.on("click", ".responsive-tab a[href^='#']:not('.active')", function (event) {
						Tabs.changeTab(this.hash);
						event.preventDefault();
					})
					.on("click", ".responsive-tab a.active", function (event) {
						Tabs.toggleMobileMenu(event, this);
						event.preventDefault();
					});

		},
		changeTab: function(hash) {

			var anchor = $("[href=" + hash + "]");
			var div = $(hash);

			// activate correct anchor (visually)
			anchor.addClass("active").parent().siblings().find("a").removeClass("active");

			// activate correct div (visually)
			div.addClass("active").siblings().removeClass("active");

			// update URL, no history addition
			// You'd have this active in a real situation, but it causes issues in an <iframe> (like here on CodePen) in Firefox. So commenting out.
			// window.history.replaceState("", "", hash);

			// Close menu, in case mobile
			anchor.closest("ul").removeClass("open");

		},
		// If the page has a hash on load, go to that tab
		pageLoadCorrectTab: function() {
			this.changeTab(document.location.hash);
		},
		toggleMobileMenu: function(event, el) {
			$(el).closest("ul").toggleClass("open");
		}
	}
	Tabs.init();
	
{% endblock %}