<div class="special-services" style="padding: 0px;">
<div class="special-services-grids" style="margin: 0px; padding: 0px;">	
<div class="col-md-12 special-services-grid text-left">
	<div class="special-services-grid1">
		<img src="{{ asset('template/images/azcorp.jpg') }}" alt=" " class="img-responsive" />
	</div>
	<h4><a href="{{ path('users_user_acces_plateforme') }}">{{ site }}</a></h4>
	<p>{{ slogan }}</p>
	<div class="m2">
	<div><span class="fa fa-map-marker"></span> {{ localisation }}</div>
	<h4>Service: 24H/24</h4>
		<a href="#!" class="more-sub hvr-bounce-to-bottom hvr-bounce-to-bottom1"><span class="fa fa-phone"></span> {{ telephone }}</a>
	</div>
</div>
</div>
</div>