<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
		{{ form_start(form, {'style': 'margin-top: 15px;', 'attr': path('users_adminuser_update_pays_info', {'id': pays.id }) }}
		<div class="row">
		<div class="input-field col s12">
		  <i class="mdi-action-assignment prefix"></i>
		  {{ form_widget(form.nom) }}
		  {{ form_label(form.nom,'Nom du pays') }}
		</div>
		  <div class="file-field input-field col s12">
			<input class="file-path validate" type="text"/>
			<div class="btn">
			  <span>Drapeau</span>
			  {{ form_widget(form.file) }}
			</div>
		  </div>
		  <div class="input-field col s12">
			  <i class="mdi-action-assignment prefix"></i>
			  {{ form_widget(form.siteweb) }}
			  {{ form_label(form.siteweb,'Site web pays') }}
		  </div>
		  <div class="input-field col s12">
		  <i class="mdi-action-assignment prefix"></i>
		  {{ form_widget(form.citoyen) }}
		  {{ form_label(form.citoyen,'citoyen') }}
		  </div>
		  <div class="input-field col s12">
		  <i class="mdi-action-assignment prefix"></i>
		  {{ form_widget(form.citoyenne) }}
		  {{ form_label(form.citoyenne,'citoyenne') }}
		  </div>
		  <div class="input-field col s12">
		  <i class="mdi-action-assignment prefix"></i>
		  {{ form_widget(form.code) }}
		  {{ form_label(form.code,'Code') }}
		  </div>
		  <div class="input-field col s12">
		  <i class="mdi-action-assignment prefix"></i>
		  {{ form_widget(form.domaine) }}
		  {{ form_label(form.domaine,'domaine pays') }}
		  </div>
		<div class="input-field col s12">
		  <div class="input-field col s12">
			<button class="btn cyan waves-effect waves-light" type="submit" name="action"> Enregistrez</button>
		  </div>
		</div>
	  </div>
	 <div class="clearfix"></div>
	 {{ form_end(form) }}
	<div class="clearfix"></div>
</div>
</div>
