{% extends "UsersAdminuserBundle::layoutadmin.html.twig" %}
{% block meta %}
{{ parent() }}
<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
<meta name="author" content="Noel Kenfack"/>
<meta name="description" content="{{ site }} | Administration | Cameroun | {{ metier }}"/>
{% endblock %}
{% block title %}
{{ parent() }} | Accueil Admin
{% endblock %}

{% block userblog_body %}
<hr style="margin-top: 45px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="container" style="color: #fff;">
	Accueil <span class="mdi-av-play-arrow" style="font-size: 10px;"></span>  Administration
	</div>	
</div>	
<hr style="margin-bottom: 0px;">
<!--content-->
		<div class="product" style="padding-top: 20px; margin-bottom: 20px;">
			<div class="container" style="padding: 0px;">
				<div class="col-lg-12 animecourant-panel">
			    </div>
				<div class="col-md-4 product-bottom">
				{{ render(controller("UsersAdminuserBundle:Accueil:menuadmin")) }}
				<!---->
				</div>
				<div class="col-md-8 panel panel-widget">
				<div style="background: #ddd;  margin: -1px -16px 7px -16px;">
					<div style="padding: 7px; color: #fff;">Tous les parcours de formations</div>	
				</div>
				<h4>
				{% set id = '' %}
				{% for infos in app.session.flashbag.get('supprime_prod') %}
				{% if loop.last %}
				<div class="col-lg-12 alert alert-warning" style="border-radius: 0px;">
					<span style="color: red;"><span class="fa fa-warning"></span> Êtes vous certain de vouloir supprimer l'équipe {{ infos|lower }} </span>
					<form action="{{ path('users_adminuser_supprimer_service_even',{'id': id }) }}" method="post" style="display: inline;">
					<input type="submit" value="Supprimer" style="background: red;"/>
					{{ form_rest(formsupp) }}
					</form>
				</div>
				<div class="clearfix"></div>

				{% else %}
				{% set id = infos %}
				{% endif %}
				{% endfor %}
			    <span style="color: red;">
				{% for infos in app.session.flashbag.get('information') %}
				{% if loop.first %}
				{{ infos|raw }}
				{% endif %}
				{% endfor %}
				</span>
				</h4>
				<div class="mid-popular">
						{% for service in liste_service %}
						<!-- Preview Image -->
						<div style="text-align:left; border-bottom: 1px solid #ddd; margin-bottom: 15px;">
							<div class="skill-wrap clearfix" style="margin-bottom: 15px;">
								<div class="row">
									<div class="col-sm-1">
										<p><img src="{% if service.user.imgprofil != null %} {{ asset(service.user.imgprofil.webpath) }} {% else %} {{ asset('template/images/co.png') }} {% endif %}" alt="{{ service.user.name(20) }}" style="width: 50px; height: 50px;"/>
										</p>
										<p class="date-w3ls w3layouts w3 w3l w3ls"><a href="{{ path('users_user_user_accueil', {'id': service.user.id }) }}">{{ service.user.name(20) }}</a></p>
									</div>
									<div class="col-sm-3">
									<div class="hover01 column">
										<div>
											<figure style="height: 150px;"><img class="img-responsive" src="{% if service.imgservice != null %}{{ asset(service.imgservice.getWebpath) }}{% else %}{{ asset('template/images/info.png') }}{% endif %}" alt="w3layouts" style="height: 100%;"> </figure>
										</div>
									</div>
									</div>
									<div class="col-sm-8">
									<h3 style="margin-top: 0px;">
										<a href="{{ path('users_adminuser_add_un_evenement', {'id': service.id }) }}">{{ service.nom }}</a>
										<div class="btn-group pull-right" style="margin-top: 0px; padding: 0px;">
										<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; padding: 0px;"><i class="mdi-hardware-keyboard-arrow-down" style="padding: 0px; margin: 0px;"></i></a>
											<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
												<li><a href=""><span class="fa fa-plus"></span> Ajouter un nouveau chapitre</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('users_adminuser_modifier_un_service', {'id': service.id}) }}" class=""><span class=" fa fa-pencil"></span> Modifier cette formation</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('users_adminuser_supprimer_service_even', {'id': service.id}) }}"><span class="fa fa-times"></span> Supprimer cette formation</a></li>
											</ul>
										</div>
									</h3>
									<p class="blog-agile1 w3layouts w3 w3l w3ls"><a href="#!">Rang: {{ service.rang }}</a> | Etat: {% if service.recrutement == true %}<span>Important</span>{% else %}<span>Simple</span>{% endif %} | {% set nbre = (service.dureeacces/30) %} Accès: {{ nbre }} Mois <a href="{{ path('produit_service_assistance_entreprise', {'id': service.id }) }}"><span class="fa fa-check"></span> Affichez les détails</a></p>
									{{ service.detail[:200]|raw }}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						{% endfor %}	
						<div class="clearfix"></div>
				</div>
				
				<div style="background: #f7f7f7; border: 1px solid #ddd; margin-bottom: 7px;">
					<h2 style="margin: 5px;">Ajouter une nouvelle offre de formation !</h2>	
				</div>
				
				<div >
    		    <form action="{{ path('users_adminuser_ajouter_nouveau_service') }}" method="post" {{ form_enctype(form) }}>
    			 <div class="col-sm-6">
				     <span style="color:red;">{{ form_errors(form) }}</span>
					 <span style="color:red;">{{ form_errors(form.nom) }}</span>
					 <div class="form-group">
						{{ form_widget(form.nom) }}
					 </div>
					 
					 <span style="color:red;">{{ form_errors(form.nprix) }}</span>
					 <div class="form-group">
						{{ form_widget(form.nprix) }}
					 </div>

		    	  </div>
		    	  <div class="col-sm-6">
					<span style="color:red;">{{ form_errors(form.keyword) }}</span>
					 <div class="form-group">
						{{ form_widget(form.keyword) }}
					 </div>	
					 
					 <span style="color:red;">{{ form_errors(form.nprixoff) }}</span>
					 <div class="form-group">
						{{ form_widget(form.nprixoff) }}
					 </div>
		          </div>
				  <div class="col-sm-12">
				  <fieldset>
				  <legend>Présentation générale de l'offre de formation</legend>
				  <span style="color:red;">{{ form_errors(form.detail) }}</span>
				  <div class="form-group">
					{{ form_widget(form.detail) }}
				  </div>
				  </fieldset>
				  <fieldset>
				  <legend>Formation au centre</legend>
				  <span style="color:red;">{{ form_errors(form.puboffline) }}</span>
				  <div class="form-group">
					{{ form_widget(form.puboffline) }}
				  </div>
				  </fieldset>
				  <fieldset>
				  <div class="col-xs-6" style="padding: 0px;">
				  <legend>Début de la formation</legend>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px;">
					<div class="form-group">
						<select name="jour" id="jour" style="border-radius: 0px; width: 100%;" class="form-control">
						{% for i in 1..31 %}
							{% if i < 10 %}
							<option value="0{{ i }}">{{ i }}</option>
							{% else %}
							<option value="{{ i }}">{{ i }}</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0px; padding-left: 0px;">
					<div class="form-group">
						<select name="mois" id="mois"  style="border-radius: 0px; width: 100%;" class="form-control">
						<option value="01">Janvier</option>
						<option value="02">Février</option>
						<option value="03">Mars</option>
						<option value="04">Avril</option>
						<option value="05">Mai</option>
						<option value="06">Juin</option>
						<option value="07">Juillet</option>
						<option value="08">Août</option>
						<option value="09">Septembre</option>
						<option value="10">Octobre</option>
						<option value="11">Novembre</option>
						<option value="12">Décembre</option>
						</select>
					</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; padding-right: 3px;">
					<div class="form-group">
						{% set fin = "now"|date('Y') %}
						{% set debut = "now"|date('Y') + 1 %}
						<select name="annee" id="annee" style="border-radius: 0px; width: 100%;" class="form-control">
						{% for i in fin..debut %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
						</select>
					</div>
					</div>
					</div>
					
				     <div class="col-xs-6" style="padding: 0px;">
				     <legend>Fin de la formation</legend>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 3px; padding-right: 0px;">
					<div class="form-group">
						<select name="jourend" id="jour" style="border-radius: 0px; width: 100%;" class="form-control">
						{% for i in 1..31 %}
							{% if i < 10 %}
							<option value="0{{ i }}">{{ i }}</option>
							{% else %}
							<option value="{{ i }}">{{ i }}</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0px; padding-left: 0px;">
					<div class="form-group">
						<select name="moisend" id="mois"  style="border-radius: 0px; width: 100%;" class="form-control">
						<option value="01">Janvier</option>
						<option value="02">Février</option>
						<option value="03">Mars</option>
						<option value="04">Avril</option>
						<option value="05">Mai</option>
						<option value="06">Juin</option>
						<option value="07">Juillet</option>
						<option value="08">Août</option>
						<option value="09">Septembre</option>
						<option value="10">Octobre</option>
						<option value="11">Novembre</option>
						<option value="12">Décembre</option>
						</select>
					</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px;">
					<div class="form-group">
						{% set fin = "now"|date('Y') %}
						{% set debut = "now"|date('Y') + 1 %}
						<select name="anneeend" id="annee" style="border-radius: 0px; width: 100%;" class="form-control">
						{% for i in fin..debut %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
						</select>
					</div>
					</div>
					</div>
					</fieldset>
				  <fieldset>
				  <legend>Formation en ligne</legend>
				  <span style="color:red;">{{ form_errors(form.pubinline) }}</span>
				  <div class="form-group">
					{{ form_widget(form.pubinline) }}
				  </div>
				  </fieldset>
				  </div>
				  <div class="col-sm-6">
					 <span style="color:red;">{{ form_errors(form.imgservice) }}</span>
					 {{ form_label(form.imgservice,'Image de présentation de la formation') }}
					 <div class="form-group" style="margin-bottom: 10px;">
					 {{ form_widget(form.imgservice) }}
				     </div>
				  </div>
				  <div class="col-sm-6">
					<span style="color:red;">{{ form_errors(form.imgservicesecond) }}</span>
					 {{ form_label(form.imgservicesecond,'Vidéo de présentation de la formation') }}
					 <div class="form-group" style="margin-bottom: 10px;">
					 {{ form_widget(form.imgservicesecond) }}
				     </div>
				  </div>
				  <div class="col-sm-12">
				    <fieldset>
				    <legend>Présentation intégrale de l'offre de formation</legend>
				    <span style="color:red;">{{ form_errors(form.description) }}</span>
				    <div class="form-group">
					  {{ form_widget(form.description) }}
				    </div>
				    </fieldset>
				  
					<fieldset style="margin-bottom: 15px;">
					<legend>Liste des cours nécessaires pour cette formation</legend>
					<div class="" style="padding: 8px 7px; 0px 7px; display: block;width: 100%; padding: 0px 12px; font-size: 14px;line-height: 1.42857143;color: #777;background-color: #fff;background-image: none;border: 1px solid #ddd;">
					<div class="liste-poste-retenu">
					</div>
					<div class="form-group nomuser poste" style="margin: 0px -12px; padding: 0px;">
					<input type="text" id="postes_necessaire" class="form-control" placeholder="Ajoutez le cours n°1" style="margin: 0px; border: none; width: 100%;"/>
					</div>	
					</div>
					<input type="hidden" name="allposteservice" id="allposteservice" value=""/>		
					</fieldset>
					</div>
				  <div class="col-sm-6">
					<span style="color:red;">{{ form_errors(form.rang) }}</span>
					<div class="form-group">
					  {{ form_widget(form.rang) }}
					</div>
				  </div>
				  <div class="col-sm-6">
					<div class="form-group">
					  <select name="dureeacces" class="form-control" style="border-radius: 0px; width: 100%;">
						<option value="0">Accéssibilité à la formation</option>
						<option value="30">1 Mois</option>
						<option value="60">2 Mois</option>
						<option value="90">3 Mois</option>
						<option value="120">4 Mois</option>
						<option value="150">5 Mois</option>
						<option value="180">6 Mois</option>
						<option value="210">7 Mois</option>
						<option value="240">8 Mois</option>
						<option value="270">9 Mois</option>
						<option value="300">10 Mois</option>
						<option value="330">11 Mois</option>
						<option value="360">1 an</option>
						<option value="720">2 ans</option>
					  </select>
					</div>
				  </div>
				  <div class="col-sm-6">
				     <div style="margin-top:15px;">
						 {{ form_widget(form.recrutement) }} <strong>{{ form_label(form.recrutement,'Marquez comme important') }}</strong>
					 </div>
				  </div>
				  <div class="col-sm-6">
				  <button type="submit" class="btn btn-primary btn-block btn-lg" style="border-radius: 0px;">Enregistrez <span class="glyphicon glyphicon-send"></Span> </button>
				  </div>
		         <div class="clearfix" style="margin-bottom: 15px; display: block;"></div>
				 {{ form_rest(form) }}
		        </form>
  			   
				</div> 

				<div class="clearfix"></div>
				</div>
			</div class="clearfix"></div>
			</div>	


<script src="{{ asset('template/assets/js/onvisible.js') }}" type="text/javascript"></script>
<script src="{{ asset('template/tinymce/js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('autocomplete/js/jquery.auto-complete.js') }}"></script>
<!-- /js files -->
<hr>
<script>
var bouge = 1;
var dimension = 200;
function activateelement()
{
var visibility = visibleElement('.animecourant-panel');

if(visibility && bouge == 0){
	bouge = 1;
	$('.toutleblock').css('position','relative');
	$('.toutleblock').css('bottom','0px');
	$('.toutleblock').css('margin-bottom','0px');
}
}

function stopelement()
{
var visibility = visibleElement('.stop-courant-panel');
if(visibility && bouge == 1){
	if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
	{
	
	}else{
	bouge = 0;
	$('.toutleblock').css('position','fixed');
	$('.toutleblock').css('width',dimension+'px');
	$('.toutleblock').css('bottom','7px');
	$('.toutleblock').css('margin-bottom','165px');
	}
}
}

var idStopelement = 0;
var idActivateelement = 0;
function controlScroll()
{
	var largeur = ($(window).width());
	dimension = $('.toutleblock').width();
	if (largeur >= 768)
	{
	   /*
		if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
		{
		
		$('.toutleblock').css('position','fixed');
		$('.toutleblock').css('width',dimension+'px'); 
		}else{ 
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
		} */
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
	}
}
controlScroll();

</script>	
{% endblock %}
{% block javascripttemplate %}

$('.article-service').addClass('position-user');

{% for infos in app.session.flashbag.get('information') %}
{% if loop.first %}	
$('.infos-action-effectuer').html('{{ infos }}');
$('#infos-action-effectuer').modal('show');
{% endif %}
{% endfor %}

tinymce.init({ selector:'.tinymce-manager'});


var jsonresult = {{ render(controller("ProduitProduitBundle:Produit:autorecherchecours")) }};
var j = 0;
var postechoices = [];
for(var n in jsonresult){
	nom = jsonresult[n].nom;
	drapeau = jsonresult[n].drapeau;
	id = jsonresult[n].id;
	num = nom+":"+drapeau;
	courantelem = [nom,drapeau,id];
	postechoices[j] = courantelem;
	j++;
}

var listePoste = '';
var separateur = '$$$$$$';
var compteur = 1;

$('#postes_necessaire').autoComplete({
    minChars: 0,
    source: function(term, suggest){
        term = term.toLowerCase();
        var suggestions = [];
        for (i=0;i< postechoices.length;i++)
            if (~(postechoices[i][0]+' '+postechoices[i][1]).toLowerCase().indexOf(term)) suggestions.push(postechoices[i]);
        suggest(suggestions);
    },
    renderItem: function (item, search){
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        return '<div class="autocomplete-suggestion" data-langname="'+item[0]+'" data-lang="'+item[1]+'" data-id="'+item[2]+'"  data-val="'+search+'" data-img="'+item[1]+'"><img src="{{ asset('') }}'+item[1]+'" style="width: 30px; height: 20px; padding: 2px;"> '+item[0].replace(re, "<b>$1</b>")+'</div>';
    },
    onSelect: function(e, term, item){
	if(listePoste == '')
	{
		cSeparateur = '';
	}else{
	cSeparateur = separateur;
	}
	
	var ajouterPoste = true;
	var donnee = ''+item.data("id");
	if(listePoste == '')
	{
		listePoste = donnee;
		compteur++;
	}else{
		var tabPoste = listePoste.split(cSeparateur);
		for (var i = 0, c = tabPoste.length; i < c; i++){
			if(tabPoste[i] == donnee)
			{
				ajouterPoste = false;
				break; 
			}
		}
		if(ajouterPoste == true)
		{
		listePoste = listePoste +''+cSeparateur+''+donnee;
		compteur++;
		}
	}
	if(ajouterPoste == true)
	{
		$('.liste-poste-retenu').append('<div class="listeItem-'+compteur+'" style="margin: 10px 0px; border: 1px solid #008DE7; background: #428bca; padding: 4px; color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); white-space: nowrap;"><img src="{{ asset('') }}'+item.data("img")+'" alt="" style="height: 18px; width: 25px;"/> '+item.data("langname")+' <a href="#!" style="color: #e50707;" class="pull-right" onclick="deleteItem(\''+donnee+'\','+compteur+')"><span class="fa fa-times"></span></a></div>');
	}
	/*$('.input-final').show();
		$('#departement_etab').attr('type','hidden');
		$('#postes_necessaire').attr('value',item.data("id"));*/
		$('#allposteservice').val(listePoste);
		$('#postes_necessaire').attr('placeholder','Ajoutez le cours n°'+compteur);
		$('#postes_necessaire').val('');
		if(compteur == 11)
		{
			$('#postes_necessaire').attr('type','hidden');
			$('.ajouter-nouveau-poste').hide();
		}else{
			$('#postes_necessaire').focus();
		}
		e.preventDefault();
    },
	cache: false
});

function deleteItem(element,num)
{
	if(listePoste == '')
	{
		cSeparateur = '';
	}else{
	    cSeparateur = separateur;
	}
	var newListe = '';
	var tabPoste = listePoste.split(cSeparateur);
	for (var i = 0, c = tabPoste.length; i < c; i++){
		if(tabPoste[i] != element)
		{
			if(newListe == '')
			{
				newListe = tabPoste[i];
			}else{
			    newListe = newListe +''+cSeparateur+''+tabPoste[i];
			}
		}
	}
	listePoste = newListe;	
	$('.listeItem-'+num).hide();
	compteur--;
	$('#allposteservice').val(listePoste);
	$('#postes_necessaire').attr('placeholder','Ajoutez le cours n°'+compteur);
	
	$('#postes_necessaire').attr('type','text');
	$('.ajouter-nouveau-poste').show();
	$('#postes_necessaire').focus();
}

{% endblock %}