{% extends "Theme/Users/User/layouthome.html.twig" %}

{% block meta %}
  {{ parent() }}
  <meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
  <meta name="author" content="Noel Kenfack"/>
  <meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}" />
{% endblock %}

{% block title %}
	{{ parent() }} | Boutique
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block userblog_body %}

<div style="background: #f4f4f4; padding-top: 30px;">
<div class="container" style="overflow: hidden;">
<div class="row cards ">
      <div class="col-12 col-md-6">
        <div class="card card2 card-large card-row-layout">
          <a href="#" class="">
            <span class="card-icon-top  vfi vfi-porte-voix" aria-hidden="true"></span>
          <div class="card-body">
            <span class="card-title">Allez à la boutique</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card card4 card-large card-row-layout">
          <a href="#" class="">
            <span class="card-icon-top  vfi vfi-nid-de-poule" aria-hidden="true"></span>
          <div class="card-body">
            <span class="card-title">Ce que nous vous offres</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
        </div>
      </div>
	  <div class="col-12 col-md-6" style="margin-top: -25px;">
		<div style="height: 5px;"></div>
      </div>
	  <div class="col-12 col-md-6" style="margin-top: -25px;">
		<div style="height: 10px; background: #fff; width: 100%;"></div>
      </div>
	  <div class="col-12 col-md-12" style="margin-bottom: 20px; margin-top: -20px;">
		<div style="height: 10px; background: #fff; width: 100%;"></div>
      </div>
    </div>
    <div class="row cards ">
      <div class="col-12 col-md-4">
        <div class="card card2 card-large">
          <a href="#" class="">
            <img class="card-img-top " src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card #1 img alt.">
          <div class="card-body">
            <span class="card-title">Card #1 title</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            Footer call-to-action<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
          </div>
        </a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card card4 card-large">
          <a href="#" class="">
            <img class="card-img-top " src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card #2 img alt.">
          <div class="card-body">
            <span class="card-title">Card #2 title</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            Footer call-to-action<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
          </div>
        </a>
        </div>
      </div>
	  <div class="col-12 col-md-4">
        <div class="card card2 card-large">
          <a href="#" class="">
            <img class="card-img-top " src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card #1 img alt.">
          <div class="card-body">
            <span class="card-title">Card #1 title</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            Footer call-to-action<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascripttemplate %}

{% endblock %}