<div >
{{ form_start(form, {'class': 'col s12', 'attr': path('users_adminuser_modif_cat_application', {'id': categorie.id}) }}) }}
	  <div class="input-field col s12">
		 {{ form_widget(form.nom) }}
		 {{ form_label(form.nom, 'Nom de la catégorie'|trans) }}
		 <div style="color: red;">{{ form_errors(form.nom)|trans }}</div>
	  </div>
	  
	  <div class="input-field col s12">
		{{ form_errors(form.description) }}
		{{ form_widget(form.description) }}
		{{ form_label(form.description,'Description de l\'article') }}
	  </div>
	  
	  <div class="input-field col s12">
		 {{ form_widget(form.rang) }}
		 {{ form_label(form.rang, 'Rang dans le classement'|trans) }}
		 <div style="color: red;">{{ form_errors(form.rang)|trans }}</div>
	  </div>
	  
	  <div class="file-field input-field col s12">
		  <input class="file-path validate" type="text" disabled style="padding-left: 40px;"/>
		  <div class="btn bg-struct" style="margin-left: 10px;">
			<span><i class="mdi-image-exposure"></i> {{ 'Image'|trans }}</span>
			{{ form_widget(form.file) }}
		  </div>
	  </div>
	  
	  <div class="col s12" style="margin-top: 30px;">
		 <button class="btn waves-effect waves-light bg-struct" type="submit">{{ 'Envoyer'|trans }} <i class="mdi-content-send right"></i></button>
	  </div>
{{ form_end(form) }}
</div>
<script type="text/javascript" src="{{ asset('template/js/materialize.js') }}"></script>