<style>
	.event_container {
  display: flex;
  height: 230px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}
.event_container .event_bg {
  width: 40%;
  height: 100%;
  background: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.event_container .event_info {
  width: 60%;
  height: 100%;
  padding: 10px 20px;
}
.event_container .event_info .event_title {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.event_container .event_info .event_title h4 {
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event_container .event_info .event_desc {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
}
.event_container .event_info .event_desc p {
  font-size: 16px;
  font-weight: 500;
  color: #565861;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event_container .event_info .event_footer {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.event_container .event_info .event_footer .event_date p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.event_container .event_info .event_footer .event_more {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
}
.event_container .event_info .event_footer .event_more a.btn_more {
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: #0060b1;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  will-change: background;
  transition: background 0.3s, color 0.2s ease-in;
}
.event_container .event_info .event_footer .event_more a.btn_more i.material-icons {
  font-size: 18px;
  font-weight: 500;
  padding: 0 2px;
}
.event_container .event_info .event_footer .event_more a.btn_more:hover {
  background: #0060b1;
  color: #FFF;
}

@media screen and (max-width: 575px) {
  .event_container {
    width: 100%;
    height: 480px;
    background: #FFF;
    flex-direction: column;
  }
  .event_container .event_bg {
    width: 100%;
    height: 250px;
    min-height: 250px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
  .event_container .event_info {
    width: 100%;
    height: 230px;
  }
}
</style>

<div class="col-md-8" style="padding: 0px;">

{% for service in liste_article %}

  <div class="event_container">
	<div class="event_bg" style="background-image: url('{% if service.imgservice != null %}{{ asset(service.imgservice.getwebpath) }}{% else %}{{ asset('template/images/present.png') }}{% endif %}')"></div>
	<div class="event_info">
	  <div class="event_title">
		<h4>{{ service.nom }}</h4>
	  </div>
	  <div class="event_desc">
		<p>{{ service.description }}</p>
	  </div>
	  <div class="event_footer">
		<div class="event_date">
		  <p>{{ service.dateEvent|date('d') }} {{ service.dateEvent|date('M') }}, {{ service.dateEvent|date('Y') }} - {{ service.breve }}</p>
		</div>
		<div class="event_more">
		  <a href="#" class="btn_more">
			En savoir plus
		  </a>
		</div>
	  </div>
	</div>
  </div>


	<!-- div class="col-md-6">
		<a href="{{ path('produit_service_detail_actualite', {'id': service.id}) }}" class="card h-100" data-original-title="" title="" style="min-height: 500px;">
			<div class="card-body p-5">
				<div class="text-center">
					<img src="{% if service.imgservice != null %}{{ asset(service.imgservice.getwebpath) }}{% else %}{{ asset('template/images/present.png') }}{% endif %}" alt="" style="width: 100%;">
				</div>
				<h5>{{ service.nom }}</h5>
				<p class="card-text">{{ service.description }}</p>
			</div>
		</a>
    </div -->
 
{% else %}
<div style="height: 400px; padding-top: 100px; background: #fff; margin-bottom: 15px;">
	<div style="text-align: center; display: block; width: 100%!important;">
	<span class="fa fa-frown-o"></span> Aucune données disponible pour cette requête.</br>
	<hr style="width: 100px; border-bottom: 1px solid red;">
	</div>
</div>
{% endfor %}


<span class="clearfix"></span>
{% if nombrepage > 0 %}

{% if page > 1 and page <= nombrepage %}
{% set pagepre = page - 1 %}
{% else %}
	{% set pagepre = nombrepage %}
{% endif %}

{% if page < nombrepage %}
	{% set pagesuiv = page + 1 %}
{% else %}
	{% set pagesuiv =  1 %}
{% endif %}

{% if nombrepage < 5 %}
	{% set debut = 1 %}
	{% set fin = nombrepage %}
{% else %}
	{% if page > 2 and page < (nombrepage - 2) %}
		{% set debut = page - 2 %}
		{% if page + 2 >= nombrepage %}
			{% set fin = nombrepage %}
		{% else %}
			{% set fin = page + 2 %}
		{% endif %}
	{% else %}
		{% if page <= 2 %}
			{% if page == 1 %}
				{% set debut = 1 %}
				{% set fin = page + 3 %}
			{% else %}
				{% set debut = 1 %}
				{% set fin = page + 2 %}
			{% endif %}
		{% else %}
			{% set debut = page - 2 %}
			{% if page + 2 >= nombrepage %}
				{% set fin = nombrepage %}
			{% else %}
				{% set fin = page + 2 %}
			{% endif %}
		{% endif %}
	{% endif %}
	
{% endif %}
<div>
  <div class="pagination"> 
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': 1 }) }}" title="Première page" class="page gradient"><span class="fa fa-fast-backward" style="font-size: 8px;"></span></a>
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': pagepre }) }}" title="Page précedente" class="page gradient"><span class="fa fa-step-backward" style="font-size: 8px;"></span></a>
	{% for p in debut..fin %}
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': p }) }}" class="page {% if p == page %}active{% else %}gradient{% endif %}" class="">{{ p }}</a>
	{% endfor %}
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': pagesuiv }) }}"  title="Page suivante" class="page gradient"><span class="fa fa-step-forward" style="font-size: 8px;"></span></a>
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': nombrepage }) }}" title="Dernière page" class="page gradient"><span class="fa fa-fast-forward" style="font-size: 8px;"></span></a>
   </div>
<div class="clearfix"></div>
</div>
{% else %}
<div>
  <div class="pagination">
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': page }) }}" title="Première page" class="page gradient"><span class="fa fa-fast-backward" style="font-size: 8px;"></span></a>
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': page }) }}" title="Page précedente" class="page gradient"><span class="fa fa-step-backward" style="font-size: 8px;"></span></a>

	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': page }) }}" class="page active">0</a>

	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': page }) }}"  title="Page suivante" class="page gradient"><span class="fa fa-step-forward" style="font-size: 8px;"></span></a>
	<a href="{{ path('produit_service_apropos_denous', {'position': position, 'idtype': idtype, 'page': page }) }}" title="Dernière page" class="page gradient"><span class="fa fa-fast-forward" style="font-size: 8px;"></span></a>
   </div>
<div class="clearfix"></div>
</div>
{% endif %}	
				
</div>