<link href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="all"/>

<script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
<style>
table caption {
	padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

thead .sorting:after {
    opacity: 0.2;
    content: "\f0ec"!important;
}
table.dataTable thead .sorting_asc:after {
	content: "\f161"!important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'FontAwesome'!important;
    opacity: 0.5;
}
</style>
<div class="col-md-8">
<div style="width: 100%!important; min-height: 400px;">

<div> 
	<ul class="nav nav-tabs" style="padding: 0px; margin: 0px; border-bottom: none;">
		<li class="active"><a href="#help-user-depliant" data-toggle="tab" style="font-size: 12px;">Dépliants</a></li>
		<li><a href="#help-user-programme" data-toggle="tab" style="font-size: 12px;">Programmes</a></li>
	</ul>
  
  <div class="tab-content" style="min-height: 100px; margin-left: 1px;">
	  <div class="tab-pane active" id="help-user-depliant" style="padding-bottom: 70px;">
		  <div style="background: #fff; padding: 7px;">
        <strong>Quand votre profil est sélectionné par un annonceur</strong>
        <hr style="margin: 1px; border: 1px solid #f7f7f7;">
        <a href="{{ path('produit_service_apropos_denous', {'position': 'planingcours' }) }}">Afficher la liste complète</a>
		  </div>

      <div class="" style="background: #fff; padding: 7px; width: 100%; overflow-x: auto;">
        <div class="row">
          <div class="col-xs-12">
            <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
              <caption class="text-center">An example of a responsive table based on <a href="https://datatables.net/extensions/responsive/" target="_blank">DataTables</a>:</caption>
              <thead>
                <tr>
                  <th>Auteur</th>
                  <th>Description</th>
                  <th>Date de publication</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for depliant in liste_depliant %}
                <tr>
                  <td>{{ depliant.user.name(50) }}</td>
                  <td>{{ depliant.message }}</td>
                  <td>41,803,125</td>
                  <td>
                    <a href=""><span class="fa fa-download"></span> Télécharger</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>




<!--  Developed By Yasser Mas -->


	  </div>
	  <div class="tab-pane" id="help-user-programme" style="padding-bottom: 70px;">
		<div style="background: #fff; padding: 7px;">
			<strong>Quand l'annonce est susceptible de vous intéresser</strong>
			<hr style="margin: 1px; border: 1px solid #f7f7f7;">
			<a href="{{ path('produit_service_apropos_denous', {'position': 'planingcours' }) }}">Afficher la liste complète</a>
		</div>
		
		<div class="" style="background: #fff; padding: 7px; width: 100%; overflow-x: auto;">
		  <div class="row">
			<div class="col-xs-12">
			  <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="mytable table table-bordered table-hover dt-responsive">
				<caption class="text-center">An example of a responsive table based on <a href="https://datatables.net/extensions/responsive/" target="_blank">DataTables</a>:</caption>
				<thead>
				  <tr>
            <th>Auteur</th>
            <th>Description</th>
            <th>Date de publication</th>
            <th>Action</th>
				  </tr>
				</thead>
				<tbody>
				  
          {% for depliant in liste_planing %}
            <tr>
              <td>{{ depliant.user.name(50) }}</td>
              <td>{{ depliant.message }}</td>
              <td>41,803,125</td>
              <td>
                <a href=""><span class="fa fa-download"></span> Télécharger</a>
              </td>
            </tr>
          {% endfor %}

				</tbody>
				<tfoot>
				  <tr>
					  <td colspan="4" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
				  </tr>
				</tfoot>
			  </table>
			</div>
		  </div>
		</div>

	  </div>
  </div>
</div>
  
</div>


<span class="clearfix"></span>			
</div>

<script type="text/javascript">
$('table').DataTable();
$('mytable').DataTable();
</script>