<div class="row mt centered">
<div class="col-md-12">
<div class="card small" style="height: 220px;">
  <div class="card-image waves-effect waves-block waves-light">
	<img src="{% if slideaccueil != null %}{{ asset(slideaccueil.getwebpath) }}{% else %}{{ asset('template/images/24.jpg') }}{% endif %}" alt="sample">
	<span class="card-title">{% if slideaccueil != null %}{{ slideaccueil.titre }}{% else %}Welcome to the Az E-learning forum{% endif %}<span class="mdi-action-face-unlock" style="position: absolute; top: -50px; left: 20px; background: #fff; background: rgba(83, 101, 240, 0.3);"></span></span>
	
  </div>
  <div class="card-action" style="text-align: left; padding-bottom: 0px; padding-left: 0px;">
	<div class="col-lg-8" style="padding: 0px;">
	<a href="{{ path('produit_service_forum_site') }}" class="btn btn-primary" style="color: #fff; border-radius: 0px 5px 0px 0px;"><span class="mdi-action-dashboard"></span> Catégories de discussion</a>
	<a href="{% if app.user != null %}{{ path('users_user_liste_forum_epingle', {'id': app.user.id }) }}{% else %}#!{% endif %}" class="{% if app.user == null %}connexion-necessaire-epingle{% endif %}"><span class="mdi-action-description"></span> Sujets épinglés</a>
	</div>
	<div class="col-lg-4" style="padding: 0px;">
	<form action="{{ path('produit_service_recherche_forum') }}" method="post" {{ form_enctype(formrecher) }}>						
		 <div class="input-group" style="margin-bottom: 0px; position: absolute; z-index: 5; top: -10px;">
		 {{ form_widget(formrecher.donnee) }}
		 <span class="input-group-btn">
		 <button class="btn btn-default" style="height: 43px; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18), 0 0px 0px 0 rgba(0, 0, 0, 0.15);"><span class="mdi-action-search"></span></button>
		 </span>
		 {{ form_rest(formrecher) }}
		 </div>
	</form>		  
	</div>
  </div>
</div>
</div>
</div><!-- /row -->


<script type="text/javascript">
$('.connexion-necessaire-epingle').click(function(){
	$('#modal-infos-action-connexion').modal('show');
});
</script>