<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
	{{ form_start(form, {'attr': {'class': 'row', 'style': 'margin-top: 15px;', 'action': path('users_adminuser_modifcation_caracteristique_produit', {'id': caracteristique.id }) }}) }}
	
	  <div class="row">
		  <div class="input-field col s12">
			{{ form_widget(form.nom) }}
			{{ form_label(form.nom,'Titre de l\'offre') }}
		  </div>
		  {{ form_errors(form.description) }}
		  <div class="input-field col s12">
			{{ form_widget(form.description) }}
			{{ form_label(form.description,'Description du produit') }}
		  </div>
		  
		  <div class="input-field col s12">
			{{ form_widget(form.rang) }}
			{{ form_label(form.rang) }}
		  </div>
		</div>
		<div class="row">
		  {{ form_errors(form.icon) }}
		  <div class="input-field col s12">
			  {{ form_widget(form.icon) }}
			  {{ form_label(form.icon,'Icone de présentation') }}
		  </div>
		  <div class="input-field col s12">
			{{ form_widget(form.souscategorie, {'attr': {'class': 'browser-default'}}) }}
		  </div>
		</div>

		  <div class="row">
			<div class="input-field col s12">
			  <button class="btn cyan waves-effect waves-light" type="submit" name="action">Enregister
				<i class="mdi-content-send right"></i>
			  </button>
			</div>
		  </div>
		{{ form_end(form) }}
	<div class="clearfix"></div>
</div>
</div>
