{% extends "Theme/Users/User/layouthome.html.twig" %}
	{% block meta %}
	{{ parent() }}
	<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
	<meta name="author" content="Noel Kenfack"/>
	<meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}"/>
{% endblock %}

{% block title %}
	{{ parent() }} | Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.card{
			background: -webkit-linear-gradient(to left, #16A085, #F4D03F);background: linear-gradient(to left, #00c6d7, #052963);
			border: 2px solid #fff;
			margin-bottom: 7px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		.card:hover{
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	</style>
{% endblock %}
{% block userblog_body %}

<link rel="stylesheet" href="{{ asset('template/test/css/style.css') }}">
<style>
	.silder_intro {
		display: block;
		position: absolute;
		right: 0px!important;
		top: 0px!important;
		z-index: 9;
		width: 400px;
		height: 400px;
		padding: 25px 15px;
		overflow: hidden;
		background: rgba(0, 0, 0, .8);
		color: #f0f0f0;
		padding-left: 20px;
		box-shadow: 0 0 5px 0 #ddd;
		border-radius: 2px;
		text-indent: 0;
		text-decoration: none;
	}
	.silder_intro:hover{
		color: #fff;
	}
	.img-slide-lg{
		height: 400px;
	}
</style>
<section class="diaporama-accueil" style="">
	<div id="panel-slide-size" style="padding: 5px; margin: 0px; box-shadow:0px 0px 2px rgba(0,0,0,0.1); background: #fff;">	
	<div>
		<div class="slider_box" style="height: 400px;">
			<!-- slide & description -->
			<div class="silder_con">

			  {% for slide in liste_slide %}
			  <div class="silder_panel">
				<a href="#" class="silder_panel_item">
				  <img src="{{ asset('templatecourse/images/slider_image_1.jpg') }}" class="img-slide-lg"/>
				</a>
				<a href="{% if slide.link != null %}{{ slide.link }}{% else %}#!{% endif %}" class="silder_intro">
				  <div class="silder_intro_content">
					<h2 style="color: #fff;">{{ slide.titre }}</h2>
					<div>{{ slide.description }}</div>
				  </div>
				</a>
			  </div>
			  {% endfor %}

			</div>
			<!-- contorl nav (created by JS)-->
			<div class="silder_nav_mask"></div>
			<div class="silder_nav"></div>
		</div>
	</div>

	<script src="{{ asset('template/test/js/slides.js') }}"></script>
	</div>

<!--Adding demo page css file -->
<link rel="stylesheet" type="text/css" href="{{ asset('hometemplate/css/demo-page-styles.css') }}">
<!--Adding plugin css file -->
<link rel="stylesheet" type="text/css" href="{{ asset('hometemplate/css/breaking-news-ticker.css') }}">

	<div class="container">
		
		<!-- DEMO1 HTML STARTS HERE *-->
		<!-- *********************** -->
		<div class="breaking-news-ticker border-secondary" id="newsTicker1">
			<div class="bn-label bg-secondary"><span class="fa fa-bullhorn"></span> Flash</div>
			<div class="bn-news">
				<ul>
					{% for article in liste_actualite %}
					<li><a href="{{ path('produit_service_detail_actualite', {'id': article.id }) }}"><span class="label label-primary">{{ loop.index }}</span> {{ article.nom }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="bn-controls">
				<button><span class="bn-arrow bn-prev"></span></button>
				<button><span class="bn-action"></span></button>
				<button><span class="bn-arrow bn-next"></span></button>
			</div>
		</div>
		<!-- *********************** -->
		<!-- DEMO1 HTML END HERE *** -->
		
	</div>


<script src="{{ asset('hometemplate/js/breaking-news-ticker.min.js') }}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$('#newsTicker1').breakingNews();
	});
</script>
</div>
</section>

<style>
.img__ {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}


.card__ {
  padding: 3.5em 2em 2em;
  width: 100%;
  background: #fff;
 border: 1px solid #ddd;
 border-radius: 5px;
  position: relative;
}
.card__ .rectangle {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translatex(-50%);
  width: 50px;
  background: #224373;
  height: 10px;
  display: block;
  border-radius: 50px;
}
.card-content {
  padding-top: 7.2em;
}
.card-content h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  margin-bottom: 0.35em;
  font-weight: 700;
}
.card-content p {
  font-size: 0.8rem;
  letter-spacing: 0.08em;
}
.card-img {
  position: relative;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  height: 100%;
}
.card-img-overlay p {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: grid;
  place-items: center;
  padding: 0.9em;
  text-align: center;
  position: relative;
  top: 100%;
  min-width: 85px;
  min-height: 85px;
  word-wrap: break-word;
  font-size: 0.95rem;
  line-height: 1.5;
}
.card__:nth-child(1) .card-img-overlay {
  background: #056f6a;
  /* The Fallback */
  background: rgba(5, 111, 106, 0.5);
}
.card__:nth-child(1) .card-img-overlay p {
  background: #056f6a;
  /* The Fallback */
  background: #056f6a;
}
.card__:nth-child(2) .card-img-overlay {
  background: #b37399;
  /* The Fallback */
  background: rgba(179, 115, 153, 0.5);
}
.card__:nth-child(2) .card-img-overlay p {
  background: #b37399;
  /* The Fallback */
  background: #b37399;
}


.feature-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-wrapper i {
  color: white;
}

.zorb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zorb-container h3 {
  font-size: 20px;
  max-width: 150px;
}

.zorb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
}

.zorb-link {
  width: 0px;
  height: 50px;
  border-bottom: 0px;
  border-right: 3px solid grey;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .feature-wrapper {
    flex-direction: row;
  }

  .zorb-link {
    height: 0px;
    border-bottom: 3px solid grey;
    margin-bottom: 30px;
    max-width: 100px;
    max-height: 50px;
  }
}
.text-muted{
	text-align: center!important;
	color: #fff!important;
}




.cardDis{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  display: block;
  color: #333;
}

.cardDis:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardDis h3{
  font-weight: 600;
}

.cardDis img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .cardDis{
    margin: 20px;
  }
} 



/* -------------------------------- 
Component 
-------------------------------- */

.banner {
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  border-radius: 0.375em;
  transition: 0.3s;
  width: 100%;
  margin-inline: auto;
}

.banner__grid {
  display: flex;
  flex-direction: column;
}

.banner__grid > * {
  min-width: 0;
}

.banner__link {
  position: relative;
  text-decoration: none;
  color: hsl(250, 84%, 54%);
  display: inline-block;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: left bottom;
}

.banner__link i {
  /* label */
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner__link::after {
  /* animated border */
  content: "";
  background-color: currentColor;
  height: 2px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-clip-path: inset(0% round 0.1875em);
  clip-path: inset(0% round 0.1875em);
  opacity: 0.15;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner__figure {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__text {
  padding: 1.5rem;
}

.banner__link-wrapper {
  margin-top: 1rem;
}

.banner:hover {
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
    0 0.9px 1.25px hsla(230, 13%, 9%, 0.025), 0 3px 5px hsla(230, 13%, 9%, 0.05),
    0 12px 20px hsla(230, 13%, 9%, 0.09);
}

.banner:hover .banner__link {
  transform: scale(1.3);
}

.banner:hover .banner__link i {
  transform: scale(0.7);
}

.banner:hover .banner__link::after {
  height: 100%;
}

.banner:hover .banner__figure {
  transform: scale(1.05);
}

@media (min-width: 64rem) {
  .banner__grid {
    flex-direction: row-reverse;
  }

  .banner__grid > * {
    width: 50%;
  }

  .banner__figure {
    height: 100%;
    padding-bottom: 0;
    -webkit-clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
    clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
  }

  .banner__text {
    padding: 3rem;
  }

  .banner__link-wrapper {
    margin-top: 1.5rem;
  }

  .banner--invert .banner__grid {
    flex-direction: row;
  }

  .banner--invert .banner__figure {
    -webkit-clip-path: polygon(
      0% 0%,
      calc(100% - 100px) 0%,
      calc(100% - 50px) 100%,
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      calc(100% - 100px) 0%,
      calc(100% - 50px) 100%,
      0% 100%
    );
  }

  .banner--invert .banner__text {
    text-align: right;
  }

  .banner--invert .banner__link {
    transform-origin: right bottom;
  }

  .banner:hover .banner__figure {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* ------------------------ Watermark (Please Ignore) ----------------------- */
.watermark-ctr {
  --clr-button-bg: #141414;
  --clr-button: 72, 39, 236;
  --clr-text: #ffffff;

  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}
.watermark-ctr a {
  text-decoration: none;
  color: inherit;
  display: flex;
}
.generate-button {
  --generate-button-star-1-opacity: 0.25;
  --generate-button-star-1-scale: 1;
  --generate-button-star-2-opacity: 1;
  --generate-button-star-2-scale: 1;
  --generate-button-star-3-opacity: 0.5;
  --generate-button-star-3-scale: 1;
  --generate-button-dots-opacity: 0;
  appearance: none;
  outline: none;
  border: none;
  padding: 14px 24px 14px 20px;
  border-radius: 29px;
  margin: 0;
  background-color: var(--clr-button-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  transform: scale(var(--generate-button-scale, 1)) translateZ(0);
  box-shadow: 0px 0px 120px var(--generate-button-shadow-wide, transparent),
    0px 4px 12px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.1),
    inset 0px 1px 1px
      var(--generate-button-shadow-inset, rgba(255, 255, 255, 0.04)),
    0 0 0 var(--generate-button-shadow-outline, 0px)
      rgba(var(--clr-button), 0.4);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
.generate-button:before {
  content: "";
  display: block;
  position: absolute;
  right: 20%;
  height: 20px;
  left: 20%;
  bottom: -10px;
  background: rgba(204, 204, 204, 0.4);
  filter: blur(12.5px);
  z-index: 2;
  clip-path: inset(-200% -30% 10px -30% round 29px);
  opacity: 0;
  transition: opacity 0.4s;
  transform: translateZ(0);
}
.generate-button span {
  position: relative;
  z-index: 1;
  font-family: "Poppins", Arial;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.005em;
  display: block;
  user-select: none;
}
.generate-button .stroke {
  mix-blend-mode: hard-light;
}
.generate-button .stroke svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 0.75px;
  stroke: #e2d9ff;
  stroke-dasharray: 1.5 14;
  stroke-dashoffset: 22;
  opacity: 0;
}
.generate-button .stroke svg:nth-child(2) {
  stroke-width: 1px;
  stroke-opacity: 0.5;
  filter: blur(3px);
}

.generate-button svg.icon {
  width: 18px;
  height: 20px;
  margin-right: 10px;
  fill: currentColor;
}
.generate-button svg.icon path:nth-child(1) {
  opacity: var(--generate-button-star-1-opacity);
  transform: scale(var(--generate-button-star-1-scale)) translateZ(0);
  transform-origin: 25% 14.58%;
}
.generate-button svg.icon path:nth-child(2) {
  opacity: var(--generate-button-star-2-opacity);
  transform: scale(var(--generate-button-star-2-scale)) translateZ(0);
  transform-origin: 60.42% 50%;
}
.generate-button svg.icon path:nth-child(3) {
  opacity: var(--generate-button-star-3-opacity);
  transform: scale(var(--generate-button-star-3-scale)) translateZ(0);
  transform-origin: 25% 85.42%;
}
.generate-button:hover {
  --generate-button-scale: 1.01;
  --generate-button-shadow-wide: rgba(var(--clr-button), 0.4);
  --generate-button-shadow-inset: rgba(255, 255, 255, 0.35);
  --generate-button-shadow-outline: 3px;
  color: var(--clr-text);
  background-color: rgba(var(--clr-button));
}
.generate-button:hover .stroke svg {
  animation: stroke 2s linear infinite;
}
.generate-button:hover:before {
  opacity: 1;
}
.generate-button:hover span:before {
  opacity: 0;
}
.generate-button:hover:active {
  --generate-button-scale: 1.05;
}
@keyframes stroke {
  0% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  95%,
  100% {
    stroke-dashoffset: 6;
    opacity: 0;
  }
}

/*------------------------ Begin style Accordion -------------------*/

/*Privacy Center*/
.privacy-center {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 32px 0 104px;
  border-radius: 8px;
  position: relative;
}
.privacy-center .privacy-center--header {
  padding: 0 0 16px;
  margin: 0 32px;
}
.privacy-center .privacy-center--header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #0060b1;
  text-transform: capitalize;
}
.privacy-center .privacy-center--body {
  margin: 0 32px;
  border-top: 1px solid #dedede;
  overflow: auto;
}
.privacy-center .privacy-center--body .privacy-center-intro {
  padding: 24px 0;
  line-height: 150%;
  border-bottom: 1px solid #dedede;
}
.privacy-center .privacy-center--body .privacy-container {
  margin: 0 auto;
  background-color: #ffffff;
  transition: all ease-in-out 0.36s;
  border-radius: 3px;
  max-height: 212px;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting {
  display: flex;
  align-content: center;
  padding: 24px 0;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .privacy-label {
  display: flex;
  flex-grow: 1;
  position: relative;
  padding-right: 24px;
  font-weight: 600;
  transition: rotate ease-in-out 0.36s;
  background-color: transparent;
  border: none;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .privacy-label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("https://cdn-icons-png.flaticon.com/128/5343/5343102.png");
  background-size: 12px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 16px;
  transition: transform ease-in-out 0.36s;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .privacy-label:hover {
  cursor: pointer;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .privacy-label.active:before {
  transform: rotate(90deg);
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container {
  display: flex;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button {
  width: 20px;
  height: 20px;
  background-color: #fafafb;
  border-radius: 100%;
  border: 1px solid #dedede;
  position: relative;
  margin: 0 64px 0 0;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button:hover {
  cursor: pointer;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: transparent;
  transition: all ease-in-out 0.36s;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button.active {
  border: 1px solid #2980b9;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button.active:before {
  background-color: #2980b9;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-setting .button-container .button .button-label {
  position: absolute;
  font-weight: 400;
  top: 0px;
  left: 24px;
  bottom: 0;
  margin: 0 auto;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-description {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.65s ease-in-out;
  border-bottom: 1px solid #dedede;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-description:last-of-type {
  border: none;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-description p {
  line-height: 150%;
  padding: 0px 32px 32px;
  opacity: 0;
  transition: opacity ease-in-out 1s;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-description p.active {
  opacity: 1;
}
.privacy-center .privacy-center--body .privacy-container .privacy-settings .privacy-description p a {
  text-decoration: none;
  color: #2980b9;
  font-weight: 600;
}
.privacy-center .privacy-center--body .privacy-description {
  margin: 0;
}
.privacy-center .privacy-center--footer {
  width: calc(100% - 64px);
  max-width: 768px;
  height: calc(40px + 64px);
  padding: 32px 0;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #dedede;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}
.privacy-center .privacy-center--footer .buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.privacy-center .privacy-center--footer .buttons-container .button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0 16px;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: background ease-in-out, color ease-in-out 0.36s;
}
.privacy-center .privacy-center--footer .buttons-container .button.cancel {
  color: #2980b9;
  background-color: #ffffff;
  border: 2px solid #2980b9;
}
.privacy-center .privacy-center--footer .buttons-container .button.cancel:hover {
  color: #ffffff;
  background-color: #2980b9;
}
.privacy-center .privacy-center--footer .buttons-container .button.preferences {
  color: #ffffff;
  background-color: #2980b9;
}
.privacy-center .privacy-center--footer .buttons-container .button.preferences:hover {
  color: #2980b9;
  background-color: #ffffff;
  border: 2px solid #2980b9;
}
.privacy-center .privacy-center--footer .buttons-container .button:hover {
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
  cursor: scroll;
}
/*----------------------End style Accordion----------------------*/
</style>

<div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12">
				<div style="padding-top: 30px;">
					<h2>Bienvenue à l'institut de Formation Professionnelle AZ Corporation</h2>
					<div>
						<h5>Situé à Yaoundé Biyem-assi, au Carrefour Biyem-assi, Immeuble Mater.</h5>
						<h4>Agrément N° 371/MINEFOP/SG/SDGSF/SACD</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
<div class="container">

<div class="privacy-center">
	<div class="privacy-center--header">
		<h1>Nos programmes de formation et fiches de renseignement consultables hors ligne</h1>
	</div>
	<div class="privacy-center--body">
		<div class="privacy-center-intro">
			<p>Téléchargez les fiches de renseignement, emplois de temps et programmes de formation.</p>
		</div>
		<div class="privacy-container">
			<div class="privacy-settings">
				{% for document in liste_dossier|slice(0,8) %}
				<div class="privacy-setting">
					<button class="privacy-label">{{ document.message }}</button>
					<div class="button-container">
						<a href="{{ path('users_adminuser_telecharg_cv_user', {'id': document.id }) }}" class="btn cancel" style="white-space: nowrap;">Télécharger <span class="fa fa-download"></span></a>
					</div>
				</div>
				<div class="privacy-description">
					<p>Necessary cookies are essential and are used to provide you with services available through COMPANY websites. For instance, these cookies allow COMPANY to remember your choices about cookies preferences, to record your interface customization trackers e.g. for the choice of language used by the website. Necessary cookies are enabled by default and cannot be switched off. To see the list of the cookies used for this purpose, <a href="#" target="_blank" rel="noreferrer noopener">click here</a>
					</p>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="privacy-center--footer">
		<div class="buttons-container">
			<a href="" class="button cancel" value="0">Emplois de temps</a>
			<a href="{{ path('produit_service_apropos_denous', {'position': 'planingcours'}) }}" class="button preferences" value="0">Toutes les fiches</a>
		</div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">

const accordion = function () {
	const privacyLabels = document.querySelectorAll(".privacy-label"),
		buttons = document.querySelectorAll("button.button"),
		privacyDescription = document.getElementsByClassName("privacy-description");

	// Accordion
	const toggleAccordion = (e) => {
		// Toggle chevron
		e.currentTarget.classList.toggle("active");

		// Toggle privacy-description opacity
		e.currentTarget.parentElement.nextElementSibling
			.querySelector("p")
			.classList.toggle("active");

		// Toggle collapsible
		if (e.currentTarget.parentElement.nextElementSibling.style.maxHeight) {
			e.currentTarget.parentElement.nextElementSibling.style.maxHeight = null;
		} else {
			e.currentTarget.parentElement.nextElementSibling.style.maxHeight =
				e.currentTarget.parentElement.nextElementSibling.scrollHeight + "px";
		}
	};

	privacyLabels.forEach((label) => {
		label.addEventListener("click", toggleAccordion);
	});

	// Set Privacy
	const setPrivacy = (e) => {
		e.preventDefault();
		const active = e.currentTarget.parentElement.querySelector(".active");
		if (active) {
			active.classList.remove("active");
		}
		e.currentTarget.classList.add("active");
	};

	buttons.forEach((button) => {
		button.addEventListener("click", setPrivacy);
	});
};
accordion();


</script>

 
<div class="section" style="background-image: url({{ asset('templatecourse/images/paralax03.jpg') }});
visibility: visible;
animation-delay: 100ms;
animation-name: fadeIn; padding: 10px 0px; margin-top: 20px;">
	<div class="container">
		<h2 class="text-center" style="color: #fff; margin-bottom: 15px;">La méthode AZ qui vous conduit inéluctablement à un emploi descend</h2>

		<div class="feature-wrapper">
			<div class="zorb-container">
			  <div class="zorb">
				<img src="{{ asset('template/images/orientation.png') }}" alt="" style="height: 60px;">
			  </div>
			  <h3 class="text-muted">Orientation vers un profil de métier</h3>
			</div>
			<div class="zorb-link"></div>
			<div class="zorb-container">
			  <div class="zorb">
				<img src="{{ asset('template/images/rafiki.png') }}" alt="" style="height: 60px;">
			  </div>
			  <h3 class="text-muted">Motivation de l'apprenant</h3>
			</div>
			<div class="zorb-link"></div>
			<div class="zorb-container">
			  <div class="zorb">
				<img src="{{ asset('template/images/formation-adapte.png') }}" alt="" style="height: 60px;">
			  </div>
			  <h3 class="text-muted">Formation adaptée au profil</h3>
			</div>
			<div class="zorb-link"></div>
			<div class="zorb-container">
			  <div class="zorb">
				<img src="{{ asset('template/images/job.png') }}" alt="" style="height: 60px;">
			  </div>
			  <h3 class="text-muted" style="min-height: 50px;">Job Direct</h3>
			</div>
		</div>
	</div>
</div>

  <section>
	<div class="container">
	
		<div class="row clearfix">
		<div class="col-xs-12">
			<div class="text-left" style="padding-top: 20px;">
			<h2>Nos pôles de formations</h2>
			</div><!-- aboutTitle -->
		</div><!-- col-sm-3 col-xs-12 -->

		<div class="col-md-6">

			<div class="card__">
				<div class="rectangle"></div>
				<div class="card-img">
				  <img src="{{ asset('template/images/PANNEAU-2-min.jpg') }}" alt="Informatique" class="img__">
				  <div class="card-img-overlay">
					<p>Formation</p>
				  </div>
				</div>
				<div class="card-content">
				  <h2 style="font-size: 23px;">Informatique</h2>
				  <p>Formation continue et Diplômante</p>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			
			<div class="card__">
				<div class="rectangle"></div>
				<div class="card-img">
				  <img src="{{ asset('template/images/PANNEAU-1-min.jpg') }}" alt="Langue Etrangères" class="img__">
				  <div class="card-img-overlay">
					<p>Formation</p>
				  </div>
				</div>
				<div class="card-content">
				  <h2 style="font-size: 23px;">Langue Etrangères</h2>
				  <p>Formation continue et Diplômante</p>
				</div>
			</div>

		</div>
	  </div><!-- row clearfix -->

	  {% for formation in liste_formation|slice(0,1) %}
	  <div class="row clearfix" style="margin-bottom: 7px;">
		<div class="col-xs-12">
		  <div class="text-left" style="padding-top: 20px;">
			<h2>
				<a href="{{ path('produit_produit_produit_formation_institut', {'id': formation.id }) }}" style="float: right;">Afficher plus</a>
				Formations Diplomantes 
			</h2>
		  </div><!-- aboutTitle -->
		</div><!-- col-sm-3 col-xs-12 -->
	  </div><!-- row clearfix -->

	  <div class="about_inner clearfix">
		<div class="row">

			{% for scatFormation in formation.getSouscategories|slice(0,3) %}
			<div class="col-md-4">
				<a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': scatFormation.id}) }}" class="cardDis card-1" style="background-image: url({{ asset('template/images/present.png') }});">
					<h3>{{ scatFormation.nom }}</h3>
					<p>{{ scatFormation.description }}</p>
				</a>
			</div>
			{% endfor %}
		  
		</div><!-- row -->
	  </div><!-- about_inner -->
	  {% endfor %}

	</div><!-- container -->
</section><!-- aboutArea -->

  <div class="mainContent clearfix">
	<div class="container">
	  <div class="row clearfix">

		<div class="col-sm-8 col-xs-12">
		  <div class="videoNine clearfix">

			<div class="videoArea clearfix">
			  <h3>Des formations continues spéciales à L'institut AZ.</h3>
			  <div class="row">
				<div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
					<a class="video_btn" href="https://www.youtube.com/watch?v=s7tOfP3IDK4">
						<img src="{{ asset('template/images/sever-rent.png') }}">
					</a>
				</div><!-- videoLeft -->
				<div class="col-lg-4 col-md-5 col-xs-12 videoRight">
				<p>Noël approche à grands pas, et avec lui vient le temps de la magie, de la joie et de la générosité. À l'Institut de Formation Professionnelle Az Corporation, nous sommes ravis de vous présenter notre toute nouvelle campagne de formation spéciale Noël.</p>
				<a href="" class="btn btn-block learnBtn">Learn More</a>
				</div><!-- videoRight -->
			  </div><!-- row -->
			</div><!-- videoArea -->

			<div class="related_post_sec single_post">
			  <h3>Nos Formations Continues</h3>
			  {% for formation in liste_formation|slice(1,2) %}
				{% for scatFormation in formation.getSouscategories|slice(0,2) %}
				<a href="#0" class="banner" aria-label="Shop now" style="margin-bottom: 10px;">
					<div class="banner__grid">
					<div aria-hidden="true">
						<figure class="banner__figure" style="background-image: url({{ asset('template/images/present.png') }});"></figure>
					</div>
				
					<div class="banner__text">
						<h2>{{ scatFormation.nom }}</h2>
						<p>{{ scatFormation.description }}</p>
				
						<p class="banner__link-wrapper">
						<span class="banner__link">
							<i>EN savoir plus</i>
						</span>
						</p>
					</div>
					</div>
				</a>
				{% endfor %}

				<div class="margin-top: 20px;">
					<a href="{{ path('produit_produit_produit_formation_institut', {'id': formation.id}) }}" class="btn btn-block learnBtn">Afficher tout</a>
				</div>
		  	  {% endfor %}

			  <ul>
				{# % for formation in liste_formation|slice(1,2) %}
		  		{% for scatFormation in formation.getSouscategories|slice(0,2) %}
				<li>
				  <span class="rel_thumb">
					<a href=""><img src="{{ asset('template/images/present.png') }}" alt=""></a>
				  </span><!--end rel_thumb-->
				  <div class="rel_right">
					<h4><a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': scatFormation.id }) }}">{{ scatFormation.nom }}</a></h4>
					<div class="meta">
					  <span class="author">Durée de la formation <form action="a"></form>: <a href="#">2 mois</a></span>
					  <span class="date">Etudiant(e)s Formés: <a href="#">2 000</a></span>
					</div>
					<p>{{ scatFormation.description }}</p>
				  </div><!--end rel right-->
				</li>
				{% endfor %}
		  		{% endfor % #}
			  </ul>
			</div><!--related_post_sec-->


			

		</div><!--videoNine-->
		</div><!-- col-sm-8 col-xs-12 -->

		<div class="col-sm-4 col-xs-12">
		  <div class="formArea clearfix">
			<div class="formTitle">
			  <h3>Retrouvez une formation</h3>
			  <p>Offered in small class sizes with great emphasis on the demands of the specification and exam technique.</p>
			</div><!-- formTitle -->
			<form action="#" method="post">
			  <div class="selectBox clearfix">
				<label for="guiest_id1">Type de formation</label>
				<select name="guiest_id1" id="guiest_id1">
				  <option value="0">Type de formation</option>
				  <option value="1">Formations diplomantes</option>
				  <option value="2">Formations continues</option>
				</select>
			  </div><!-- selectBox -->
			  <div class="selectBox clearfix">
				<select name="guiest_id2" id="guiest_id2">
					{% for formation in liste_formation|slice(0,1) %}
						{% for scatFormation in formation.getSouscategories|slice(0,4) %}
						<option value="{{ scatFormation.id }}">{{ scatFormation.nom }}</option>
						{% endfor %}
					{% endfor %}
				</select>
			  </div><!-- selectBox -->
			  <div class="form-group">
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mot clé au choix">
			  </div>
			  <button type="submit" class="btn btn-default btn-block">Rechercher</button>
			</form>
		  </div><!-- formArea -->
		  <div class="list_block related_post_sec">
			<div class="upcoming_events">
			  <h3>Nos derniers évènements</h3>
			  <ul>
				{% for event in liste_article %}
				<li class="related_post_sec single_post">
				  <span class="date-wrapper">
					<span class="date"><span>{{ event.date|date('d') }}</span>{{ event.date|date('M') }}</span>
				  </span>
				  <div class="rel_right">
					<h4><a href="">{{ event.nom }}</a></h4>
					<div class="meta">
					  <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
					  <span class="event-time"><i class="fa fa-clock-o"></i>{{ event.date|date('H') }}:{{ event.date|date('i') }}:{{ event.date|date('s') }}</span>
					</div>
				  </div>
				</li>
				{% endfor %}
			  </ul>
			  <a href="{{ path('produit_service_apropos_denous', {'position': 'evenement'}) }}" class="btn btn-default btn-block">Plus d'évènements</a>
			</div>
		  </div><!-- end list_block -->
		</div><!-- col-sm-4 col-xs-12 -->

	  </div><!-- row clearfix -->
	</div><!-- container -->
  </div><!-- mainContent -->

  <div class="count clearfix wow fadeIn paralax" data-wow-delay="100ms" style="background-image: url({{ asset('templatecourse/images/paralax03.jpg') }});">
	<div class="container">
	  <div class="row">
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-group"></i></div>
			<div class="counter">
			<span class="timer">8298</span>
			</div>
			<div class="seperator-small"></div>
		  <p>Personnes formées</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-book"></i></div>
			<div class="counter">
			<span class="timer">142</span>
			</div>
			<div class="seperator-small"></div>
			<p>Parcours</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-male"></i></div>
			<div class="counter">
			<span class="timer">1047</span>
			</div>
			<div class="seperator-small"></div>
			<p>Personnels</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<div class="counter">
			<span class="timer">10</span>
			</div>
			<div class="seperator-small"></div>
			<p>Localisations</p>
		  </div>
		</div><!-- col-sm-3 -->
	  </div>
	</div><!-- container -->
  </div><!-- count -->

  <div class="testimonial-section clearfix">
	<div class="container">
	  <div class="row">
		<div class="col-xs-12 col-sm-6">
		  <div class="testimonial">
			<div class="carousal_content">
			  <p>
				Bienvenue sur le site de notre Institut de Formation Professionnelle ! Je suis ravi de vous accueillir et de vous présenter notre établissement dédié à l'excellence et à la réussite professionnelle.
				<div>
					En tant que directeur de cet institut, je suis particulièrement fier de notre équipe de formateurs qualifiés et passionnés qui sont dévoués à vous offrir une expérience d'apprentissage exceptionnelle. Notre objectif est de vous aider à acquérir les compétences et les connaissances nécessaires pour réussir dans votre carrière et atteindre vos objectifs professionnels.
				</div>
			  </p>
			</div>
			<div class="carousal_bottom">
			  <div class="thumb">
				<img src="{{ asset('template/images/co.png') }}" alt="" draggable="false">
			  </div>
			  <div class="thumb_title">
				<span class="author_name" style="text-transform: none;">Gaiel bleriot AZAMBOU ZEBAZE</span>
				<span class="author_designation">Directeur Général <a href="#" style="color: #76b4e7;">Institut Az Corporation</a></span>
			  </div>
			</div>
		  </div><!-- testimonial -->
		</div><!-- col-xs-12 -->
		<div class="col-xs-12 col-sm-6">
		  <div class="features" style="background: #fff; border-radius: 10px; padding: 10px;">
			<h3>Pourquoi nous choisir ?</h3>
			<ul>
			  <li><i class="fa fa-check-circle-o"></i>Acquérir des compétences spécialisées</li>
			  <li><i class="fa fa-check-circle-o"></i>Obtenir une formation pratique</li>
			  <li><i class="fa fa-check-circle-o"></i>Bénéficier d'un encadrement professionnel</li>
			  <li><i class="fa fa-check-circle-o"></i>Accéder à des opportunités d'emploi</li>
			  <li><i class="fa fa-check-circle-o"></i>Se former rapidement et efficacement</li>
			  <li><i class="fa fa-check-circle-o"></i>Développer un réseau professionnel </li>
			</ul>
		  </div>
		</div><!-- col-xs-12 -->
	  </div><!-- row -->
	</div><!-- container -->
  </div><!-- testimonial-section -->


{% endblock %}

{% block srcjavascripttemplate %}

{% endblock %}

{% block javascripttemplate %}
	
{% endblock %}