{% extends "Theme/Users/User/layouthome.html.twig" %}
	{% block meta %}
	{{ parent() }}
	<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
	<meta name="author" content="Noel Kenfack"/>
	<meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}"/>
{% endblock %}

{% block title %}
	{{ parent() }} | Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.card{
			background: -webkit-linear-gradient(to left, #16A085, #F4D03F);background: linear-gradient(to left, #00c6d7, #052963);
			border: 2px solid #fff;
			margin-bottom: 7px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		.card:hover{
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	</style>
{% endblock %}
{% block userblog_body %}

<link rel="stylesheet" href="{{ asset('template/test/css/style.css') }}">
<style>
	.silder_intro {
		display: block;
		position: absolute;
		right: 0px!important;
		top: 0px!important;
		z-index: 9;
		width: 400px;
		height: 400px;
		padding: 25px 15px;
		overflow: hidden;
		background: rgba(0, 0, 0, .8);
		color: #f0f0f0;
		padding-left: 20px;
		box-shadow: 0 0 5px 0 #ddd;
		border-radius: 2px;
		text-indent: 0;
		text-decoration: none;
	}
	.silder_intro:hover{
		color: #fff;
	}
	.img-slide-lg{
		height: 400px;
	}
</style>
<section class="diaporama-accueil" style="">
	<div id="panel-slide-size" style="padding: 5px; margin: 0px; box-shadow:0px 0px 2px rgba(0,0,0,0.1); background: #fff;">	
	<div>
		<div class="slider_box" style="height: 400px;">
			<!-- slide & description -->
			<div class="silder_con">

			  {% for slide in liste_slide %}
			  <div class="silder_panel">
				<a href="#" class="silder_panel_item">
				  <img src="{{ asset('templatecourse/images/slider_image_1.jpg') }}" class="img-slide-lg"/>
				</a>
				<a href="{% if slide.link != null %}{{ slide.link }}{% else %}#!{% endif %}" class="silder_intro">
				  <div class="silder_intro_content">
					<h2 style="color: #fff;">{{ slide.titre }}</h2>
					<div>{{ slide.description }}</div>
				  </div>
				</a>
			  </div>
			  {% endfor %}

			</div>
			<!-- contorl nav (created by JS)-->
			<div class="silder_nav_mask"></div>
			<div class="silder_nav"></div>
		</div>
	</div>

	<script src="{{ asset('template/test/js/slides.js') }}"></script>
	</div>

<!--Adding demo page css file -->
<link rel="stylesheet" type="text/css" href="{{ asset('hometemplate/css/demo-page-styles.css') }}">
<!--Adding plugin css file -->
<link rel="stylesheet" type="text/css" href="{{ asset('hometemplate/css/breaking-news-ticker.css') }}">

	<div class="container">
		
		<!-- DEMO1 HTML STARTS HERE *-->
		<!-- *********************** -->
		<div class="breaking-news-ticker border-secondary" id="newsTicker1">
			<div class="bn-label bg-secondary"><span class="fa fa-bullhorn"></span> Flash</div>
			<div class="bn-news">
				<ul>
					{% for article in liste_actualite %}
					<li><a href="{{ path('produit_service_detail_actualite', {'id': article.id }) }}"><span class="label label-primary">{{ loop.index }}</span> {{ article.nom }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="bn-controls">
				<button><span class="bn-arrow bn-prev"></span></button>
				<button><span class="bn-action"></span></button>
				<button><span class="bn-arrow bn-next"></span></button>
			</div>
		</div>
		<!-- *********************** -->
		<!-- DEMO1 HTML END HERE *** -->
		
	</div>


<script src="{{ asset('hometemplate/js/breaking-news-ticker.min.js') }}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$('#newsTicker1').breakingNews();
	});
</script>
</div>
</section>



  <div >
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12">
				<div style="padding-top: 30px;">
					<h2>Bienvenue à l'institut de Formation Professionnelle AZ Corporation</h2>
					<div>
						<h5>Situé à Yaoundé Biyem-assi, au Carrefour Biyem-assi, Immeuble Mater.</h5>
						<h4>Agrément N° 371/MINEFOP/SG/SDGSF/SACD</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="row clearfix">
		<div class="col-xs-12">
			<div class="text-left" style="padding-top: 20px;">
			<h2>La méthode AZ qui vous conduit inéluctablement à un emploi descend</h2>
			</div><!-- aboutTitle -->
		</div><!-- col-sm-3 col-xs-12 -->
		</div><!-- row clearfix -->
	
		<div class="row clearfix">
		<div class="col-xs-12">
			<div class="text-left" style="padding-top: 20px;">
			<h2>Nos pôles de formations</h2>
			</div><!-- aboutTitle -->
		</div><!-- col-sm-3 col-xs-12 -->

		<div class="col-md-6">
			Informatique
		</div>

		<div class="col-md-6">
			Langue Etrangères
		</div>
		</div><!-- row clearfix -->

	  <div class="row clearfix">
		<div class="col-xs-12">
		  <div class="text-left" style="padding-top: 20px;">
			<h2>Formations Diplomantes</h2>
		  </div><!-- aboutTitle -->
		</div><!-- col-sm-3 col-xs-12 -->
	  </div><!-- row clearfix -->

	  <div class="about_inner clearfix">
		<div class="row">
		  {% for formation in liste_formation|slice(0,1) %}
		  {% for scatFormation in formation.getSouscategories|slice(0,4) %}
		  <div class="col-xs-6 col-sm-3">
			<div class="aboutImage">
			  <a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': scatFormation.id }) }}">
				<!-- img src="{% if scatFormation.src != null %}{{ asset(scatFormation.getwebpath ) }}{% else %}{{ asset('template/images/present.png') }}{% endif %}" alt="" class="img-responsive" /-->
				<img src="{{ asset('template/images/present.png') }}" alt="" class="img-responsive" />
				<div class="overlay">
				  <p>{{ scatFormation.description }}</p>
				</div>
				<span class="captionLink" style="text-transform: capitalize;">{{ scatFormation.nom }}<span></span></span>
			  </a>
			</div><!-- aboutImage -->
		  </div>
		  {% endfor %}
		  {% endfor %}

		</div><!-- row -->
	  </div><!-- about_inner -->

	</div><!-- container -->
  </div><!-- aboutArea -->

  <div class="mainContent clearfix">
	<div class="container">
	  <div class="row clearfix">

		<div class="col-sm-8 col-xs-12">
		  <div class="videoNine clearfix">

			<div class="videoArea clearfix">
			  <h3>Bienvenue à {{ site }}</h3>
			  <div class="row">
				<div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
				<img src="{{ asset('templatecourse/images/video_image.jpg') }}" data-video="https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1">
				</div><!-- videoLeft -->
				<div class="col-lg-4 col-md-5 col-xs-12 videoRight">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
				<a href="" class="btn btn-block learnBtn">Learn More</a>
				</div><!-- videoRight -->
			  </div><!-- row -->
			</div><!-- videoArea -->

			<div class="related_post_sec single_post">
			  <h3>Nos Formations Continues</h3>
			  <ul>
				{% for formation in liste_formation|slice(1,2) %}
		  		{% for scatFormation in formation.getSouscategories|slice(0,2) %}
				<li>
				  <span class="rel_thumb">
					<a href=""><img src="{{ asset('template/images/present.png') }}" alt=""></a>
				  </span><!--end rel_thumb-->
				  <div class="rel_right">
					<h4><a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': scatFormation.id }) }}">{{ scatFormation.nom }}</a></h4>
					<div class="meta">
					  <span class="author">Durée de la formation <form action="a"></form>: <a href="#">2 mois</a></span>
					  <span class="date">Etudiant(e)s Formés: <a href="#">2 000</a></span>
					</div>
					<p>{{ scatFormation.description }}</p>
				  </div><!--end rel right-->
				</li>
				{% endfor %}
		  		{% endfor %}

			  </ul>
			</div><!--related_post_sec-->

		</div><!--videoNine-->
		</div><!-- col-sm-8 col-xs-12 -->

		<div class="col-sm-4 col-xs-12">
		  <div class="formArea clearfix">
			<div class="formTitle">
			  <h3>Retrouvez un formation</h3>
			  <p>Offered in small class sizes with great emphasis on the demands of the specification and exam technique.</p>
			</div><!-- formTitle -->
			<form action="#" method="post">
			  <div class="selectBox clearfix">
				<label for="guiest_id1">Type de formation</label>
				<select name="guiest_id1" id="guiest_id1">
				  <option value="0">Type de formation</option>
				  <option value="1">Formations diplomantes</option>
				  <option value="2">Formations continues</option>
				</select>
			  </div><!-- selectBox -->
			  <div class="selectBox clearfix">
				<select name="guiest_id2" id="guiest_id2">
					{% for formation in liste_formation|slice(0,1) %}
						{% for scatFormation in formation.getSouscategories|slice(0,4) %}
						<option value="{{ scatFormation.id }}">{{ scatFormation.nom }}</option>
						{% endfor %}
					{% endfor %}
				</select>
			  </div><!-- selectBox -->
			  <div class="form-group">
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mot clé au choix">
			  </div>
			  <button type="submit" class="btn btn-default btn-block">Rechercher</button>
			</form>
		  </div><!-- formArea -->
		  <div class="list_block related_post_sec">
			<div class="upcoming_events">
			  <h3>Nos derniers évènements</h3>
			  <ul>
				<li class="related_post_sec single_post">
				  <span class="date-wrapper">
					<span class="date"><span>24</span>January</span>
				  </span>
				  <div class="rel_right">
					<h4><a href="">Offered in small class sizes with great emphasis...</a></h4>
					<div class="meta">
					  <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
					  <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
					</div>
				  </div>
				</li>
				<li class="related_post_sec single_post">
				  <span class="date-wrapper">
					<span class="date"><span>24</span>January</span>
				  </span>
				  <div class="rel_right">
					<h4><a href="">Offered in small class sizes with great emphasis...</a></h4>
					<div class="meta">
					  <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
					  <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
					</div>
				  </div>
				</li>
				<li class="related_post_sec single_post">
				  <span class="date-wrapper">
					<span class="date"><span>24</span>January</span>
				  </span>
				  <div class="rel_right">
					<h4><a href="">Offered in small class sizes with great emphasis...</a></h4>
					<div class="meta">
					  <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
					  <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
					</div>
				  </div>
				</li>
			  </ul>
			  <a href="" class="btn btn-default btn-block">Plus d'évènements</a>
			</div>
		  </div><!-- end list_block -->
		</div><!-- col-sm-4 col-xs-12 -->

	  </div><!-- row clearfix -->
	</div><!-- container -->
  </div><!-- mainContent -->

  <div class="count clearfix wow fadeIn paralax" data-wow-delay="100ms" style="background-image: url({{ asset('templatecourse/images/paralax03.jpg') }});">
	<div class="container">
	  <div class="row">
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-group"></i></div>
			<div class="counter">
			<span class="timer">8298</span>
			</div>
			<div class="seperator-small"></div>
		  <p>Personnes formées</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-book"></i></div>
			<div class="counter">
			<span class="timer">142</span>
			</div>
			<div class="seperator-small"></div>
			<p>Parcours</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-male"></i></div>
			<div class="counter">
			<span class="timer">1047</span>
			</div>
			<div class="seperator-small"></div>
			<p>Personnels</p>
		  </div>
		</div><!-- col-sm-3 -->
		<div class="col-xs-6 col-sm-3">
		  <div class="text-center">
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<div class="counter">
			<span class="timer">10</span>
			</div>
			<div class="seperator-small"></div>
			<p>Localisations</p>
		  </div>
		</div><!-- col-sm-3 -->
	  </div>
	</div><!-- container -->
  </div><!-- count -->

  <div class="testimonial-section clearfix">
	<div class="container">
	  <div class="row">
		<div class="col-xs-12 col-sm-6">
		  <div class="testimonial">
			<div class="carousal_content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
			</div>
			<div class="carousal_bottom">
			  <div class="thumb">
				<img src="{{ asset('template/images/co.png') }}" alt="" draggable="false">
			  </div>
			  <div class="thumb_title">
				<span class="author_name">Sara Lisbon</span>
				<span class="author_designation">Directeur Général <a href="#">Institut Az Corporation</a></span>
			  </div>
			</div>
		  </div><!-- testimonial -->
		</div><!-- col-xs-12 -->
		<div class="col-xs-12 col-sm-6">
		  <div class="features">
			<h3>Pourquoi nous choisir ?</h3>
			<ul>
			  <li><i class="fa fa-check-circle-o"></i>It’s a complete solution for your college website</li>
			  <li><i class="fa fa-check-circle-o"></i>PSD file included to help you customize the design better</li>
			  <li><i class="fa fa-check-circle-o"></i>SASS file included for unlimited hasel free style customization</li>
			  <li><i class="fa fa-check-circle-o"></i>Theme option switcher for live cusomization preview</li>
			  <li><i class="fa fa-check-circle-o"></i>24/7 Support</li>
			</ul>
		  </div>
		</div><!-- col-xs-12 -->
	  </div><!-- row -->
	</div><!-- container -->
  </div><!-- testimonial-section -->


{% endblock %}

{% block srcjavascripttemplate %}

{% endblock %}

{% block javascripttemplate %}
	
{% endblock %}