<strong style="font-size: 20px; float: left;">© {{ site }}</strong>
<a href="{{ twitter }}" title="{{ 'visitez notre page twitter'|trans }}" class="right" target="_blank" style="margin: 2px;"><img src="{{ asset('template/images/twitter.png') }}" alt="" style=""/></a> 
<a href="{{ facebook }}"  title="{{ 'visitez notre page facebook'|trans }}" class="right" target="_blank" style="margin: 2px;"><img src="{{ asset('template/images/facebook.png') }}" alt="" style=""/></a>
<a href="{{ google }}" title="{{ 'visitez notre page google+'|trans }}" class="right" target="_blank" style="margin: 2px;"><img src="{{ asset('template/images/google.png') }}" alt="" style=""/></a>
<a href="{{ linkedin }}" title="{{ 'visitez notre page linkedin+'|trans }}" class="right" target="_blank" style="margin: 2px;"><img src="{{ asset('template/images/linkedin.png') }}" alt="" style=""/></a>
